{% extends "body-slides.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='reveal/css/theme/white.css') }}" id="theme">
{% endblock %}

{% block scripts %}
  <script>
    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,

      transition: 'slide', // none/fade/slide/convex/concave/zoom
    });
  </script>
{% endblock %}


{% block content %}

<section>
  <p>
    <img src="{{ url_for('static', filename='images/logo/pycon_sk_dojo.png') }}" style="background:none; border:none; box-shadow:none;" />
    <h1>Coding Dojo</h1>
    <h4>Deviaty Bratislavský Python Meetup</h4>
  </p>
</section>

<section>
  <h2>Čo je to Coding Dojo?</h2>
  <p class="fragment fade-up">úmyselné cvičenie</p>
  <p class="fragment fade-up">bezpečné prostredie</p>
  <p class="fragment fade-up"><small>(nesúťaživé, nevylučujúce, spolupracujúce)</small></p>
  <p class="fragment fade-up">zdielanie vedomostí</p>
  <p class="fragment fade-up">TDD</p>
  <p class="fragment fade-up">Pair programming</p>
  <p class="fragment fade-up">Baby steps</p>
  <p class="fragment fade-up">Zábava</p>
</section>

<section data-background="{{ url_for('static', filename='images/meetup/09-dojo.png') }}">
  <h2>Formát: randori</h2>
</section> 

<section>
  <h2>Formát: randori</h2>
  <p class="fragment fade-up">Pair programming: diskutujte a myslite nahlas :)</p>
  <p class="fragment fade-up">5 minútové výmeny</p>
  <p class="fragment fade-up">Vyrušujte pri <strong>KAŽDEJ</strong> pochybnosti</p>
  <p class="fragment fade-up"><span style="color:green">ZELENÁ</span>: navrhujte zlepšenia a komentujte</p>
  <p class="fragment fade-up"><span style="color:red">ČERVENA</span>: neradiť</p>
</section> 

<section>
  <h2>Pravidlá</h2>
  <p class="fragment grow highlight-red">napíšte test, ktorý zlyhá</p>
  <p class="fragment grow highlight-green">opravte kód, aby test fungoval</p>
  <p class="fragment grow highlight-blue">refaktorujte</p>
</section> 

<section>
  <h2>Rozvrh</h2>
  <p>18:00 Úvod</p>
  <p>18:30 Programujeme</p>
  <p>20:00 Retrospektíva</p>
  <p>20:30 Networking</p>
</section> 

<section>
  <h2>Problémy</h2>
  <p><a href=http://codingdojo.org/cgi-bin/index.pl?KataCatalogue">http://codingdojo.org/cgi-bin/index.pl?KataCatalogue</a></p>
</section>

{% endblock %}
