{% extends "body.html" %}

{% block header%}
  <link rel="canonical" href="https://pycon.sk{{ url_for('index', lang_code=lang_code) }}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Ďakujeme za účasť!') }}</h1>

    <p class="lead">{{ _('PyCon SK je komunitou organizovaná konferencia pre programovací jazyk Python.') }} {{ _('<strong>Prvý ročník</strong> sa uskutočnil <strong>11. 3. 2016 až 13. 3. 2016 v Bratislave</strong>.') }}</p>

    <p class="lead">
      <a href="https://www.python.org/" target="_blank" title="Domovská stránka Pythonu">
        <img src="{{ url_for('static', filename='images/logo/pycon_long.svg') }}" alt="PyCon SK" class="img-responsive center-block">
      </a>
    </p>

    <div class="row icon-menu text-center">
      <div class="col-xs-3"><a href="{{ url_for('stats_web', lang_code=lang_code) }}"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span><br>{{ _('Štatistiky') }}</a></div>
      <div class="col-xs-3"><a href="{{ url_for('pictures', lang_code=lang_code) }}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><br>{{ _('Fotky') }}</a></div>
      <div class="col-xs-3"><a href="#"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span><br>{{ _('Videá') }}</a></div>
      <div class="col-xs-3"><a href="https://github.com/pyconsk/2016-slides"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span><br>{{ _('Prezentácie') }}</a></div>
    </div>

    <br>

    <p class="text-justify lead"><small>{% trans link=url_for('president', lang_code=lang_code) %}Premiérový ročník konferencie PyCon SK sa uskutočnil <a href="{{ link }}">pod záštitou prezidenta SR Andreja Kisku</a>.{% endtrans %}</small></p>

    <p class="text-justify">{{ _('Po úspešnom uvedení vo viac ako 40 krajinách sveta bol po prvýkrát na Slovensku. Prednášky boli rozdelené na <a href="%(url_friday)s">piatok - slovenský deň</a> a <a href="%(url_saturday)s">sobotu - anglický deň</a>. <a href="%(url_sunday)s">Nedeľa</a> bola určená workshopom a Python Clinic, kde ste sa mohli porozprávať s niektorými rečníkmi podrobnejšie o ich téme, alebo si prakticky odskúšať niektoré Python technológie na vlastnej klávesnici. Taktiež sa uskutočnil <a href="%(url_djangogirls)s">Django Girls</a> workshop.',
    url_friday=url_for('schedule_fri', lang_code=lang_code),
    url_saturday=url_for('schedule_sat', lang_code=lang_code),
    url_sunday=url_for('schedule_sun', lang_code=lang_code),
    url_djangogirls=url_for('django_girls', lang_code=lang_code)) }}
    {% if lang_code=='sk' %}{{ _('Tlačová správa v') }} <a href="{{ url_for('static', filename='tlacova_sprava.pdf') }}"> PDF <span class="glyphicon glyphicon-download-alt"></span></a>{% endif %}</p>

    <hr>

    <p>{{ _('Ak máte záujem prispieť, stať sa dobrovoľníkom na budúci rok, alebo akokoľvek inak pomôcť s organizáciou PyCon SK (ktorý bol kompletne organizovaný dobrovoľníkmi), budeme radi, ak sa nám ozvete.') }}</p>
    <p>{{ _('Medzičasom sa môžete prísť pozrieť na naše pravidelné <a href="%(url)s">meetupy</a>.', url=url_for('meetup', lang_code=lang_code)) }}</p>

  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
