{% extends "body.html" %}

{% block header%}
  <link rel="canonical" href="https://pycon.sk{{ url_for('index', lang_code=lang_code) }}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('PyCon prichádza na Slovensko!') }}</h1>

    <p class="lead">{{ _('PyCon SK je komunitou organizovaná konferencia pre programovací jazyk Python.') }} {{ _('<strong>Prvý ročník</strong> sa uskutoční <strong>11. 3. 2016 až 13. 3. 2016 v Bratislave</strong>.') }}</p>

    <div class="row">
      <div class="col-lg-8 text-center">
        <iframe width="510" height="315" src="https://www.youtube.com/embed/DSOKXe5J4_4" frameborder="0" seamless="true" allowfullscreen></iframe>
        <iframe width="510" height="315" src="https://www.youtube.com/embed/oxyL8sEhXT0" frameborder="0" seamless="true" allowfullscreen></iframe>
      </div>
      <div class="col-lg-4 text-center">
        <iframe src="https://www.sli.do/6iroygww" class="seamless slido-app" seamless="true"></iframe>
      </div>
    </div>

    <p class="lead">
      <a href="https://www.python.org/" target="_blank" title="Domovská stránka Pythonu">
        <img src="{{ url_for('static', filename='images/logo/pycon_long.svg') }}" alt="PyCon SK" class="img-responsive center-block">
      </a>
    </p>

    <p class="text-justify lead"><small>{% trans link=url_for('president', lang_code=lang_code) %}Veľmi sa tešíme, že vám môžeme oznámiť dobrú správu: Premiérový ročník konferencie PyCon SK sa uskutoční <a href="{{ link }}">pod záštitou prezidenta SR Andreja Kisku</a>.{% endtrans %}</small></p>

    <p class="text-justify">{{ _('Po úspešnom uvedení vo viac ako 40 krajinách sveta prichádza po prvýkrát na Slovensko. Prednášky budú rozdelené na <a href="%(url_friday)s">piatok - slovenský deň</a> a <a href="%(url_saturday)s">sobotu - anglický deň</a>. <a href="%(url_sunday)s">Nedeľa</a> bude určená workshopom a Python Clinic, kde sa budete môcť porozprávať s niektorými rečníkmi podrobnejšie o ich téme, alebo si prakticky odskúšať niektoré Python technológie na vlastnej klávesnici. Taktiež sme pripravili <a href="%(url_djangogirls)s">Django Girls</a> workshop, ktorý bude vhodný aj pre úplné začiatočníčky.',
    url_friday=url_for('schedule_fri', lang_code=lang_code),
    url_saturday=url_for('schedule_sat', lang_code=lang_code),
    url_sunday=url_for('schedule_sun', lang_code=lang_code),
    url_djangogirls=url_for('django_girls', lang_code=lang_code)) }}
    {% if lang_code=='sk' %}{{ _('Tlačová správa v') }} <a href="{{ url_for('static', filename='tlacova_sprava.pdf') }}"> PDF <span class="glyphicon glyphicon-download-alt"></span></a>{% endif %}</p>

    {#
    <br>

    <div class="image text-center">
      <img src="{{ url_for('static', filename='images/pycon/6967347999_105bba91a3_z.jpg') }}" alt="" class="img-responsive center-block">
      <p class="image-caption"><a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC</a> by <a href="https://www.flickr.com/photos/jaaaarel/6967347999/" target="_blank">Taavi Burns</a></p>
    </div>

    <hr>
    
    <p>{{ _('Ak máte záujem prispieť, stať sa dobrovoľníkom alebo akokoľvek inak pomôcť s organizáciou PyCon SK (ktorý je kompletne organizovaný dobrovoľníkmi), budeme radi, ak sa nám ozvete.') }}</p>
    <p>{{ _('Medzičasom sa môžete prísť pozrieť na naše pravidelné <a href="%(url)s">meetupy</a>.', url=url_for('meetup', lang_code=lang_code)) }}</p>
    #}
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
