{% extends "body.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    {% include "stats.html" %}
    <br />
    <div class="row">
      <div class="col-sm-6 album">
        <a href="https://photos.google.com/share/AF1QipNLNY9JDEF46QMh7hN2ev32ewGDdAs6VHYTm70fbJUxzRhFzTDt-dIx8jN7IAlUJQ?key=TU52ek9lWHozZFQ2LXVBbkY1a3FHTG95cGRSY0lR" target="_blank">
          <img src="https://lh3.googleusercontent.com/ckCB8RPv7tEdPMn33wHjCixz7-y8M3oG3OrnCbkhoXkbc75FrZD025tYCR6dKYgJGPApiyNT13v9tc4v_JkFHt2uB4YRWBeqoWH6eAx7SUkx5Jz2vg_3_LFPnh3_4W6e-g9gdecRPtyoWjYHA8IJlBhGuyG9Flag8_mxDFEaetuqeg0AYlOi5QMs04QBzk1nrhTWidN4b8ayL0hqwYMT6hC1N8eVqLb7phsulIwCKe6LnQjUDzrYKZU0CVTABjL76da_ybfxDlF2FO3yjAprisHXYmD8Bmf80d_c4_h2Gv7hP5vCFbL0-r90jsTodP7xe2LtWs5ykUlSjNSwYVxBz7SUEuCExAH4U2M5iErezm-CWbtoqBKKYhK5UPjPpJNBa8aDRXB_KhbPkflDdAdFfmS213R64JGKZjC8im1X-tF-MdAcTMu-oebaYh-H_PS-3pD2AH_lpnl6KMH8ANZhasSHaoMoL7R6rH1nFpxSbBU-n8mywJZAvdF0Eh7lFb5dppX2UeHv1O5O_VROE56H5eE-JODxkVNzLP2w4kAZP9zzaphQGNpQDlmvLnPOAppIr0PL=w474-h316-p-k-no" class="img-thumbnail">
          <p class="album-title lead">{{ _('Piatok') }}</p>
        </a>
        <p class="image-caption text-center">Photos by <a href="https://www.facebook.com/ondrej.drab" target="_blank">Ondrej Dráb</a>, Ján Gondoľ may be reused under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY license</a></p>
      </div>
      <div class="col-sm-6 album">
        <a href="https://photos.google.com/share/AF1QipOB8wIZ4_6v26zG6mNDsIQUgNjeEYBTbcUlFWpetxzwaVxxYB31N88d5strRZIIww?key=X2xOeDRHa1BpeWV1ZkJMemwtcEV3NXFYa3NmZnVB" target="_blank">
          <img src="https://lh3.googleusercontent.com/5YcB2OXJkvV78Xms-t8wCZTzdKSMXO6Jh_8qGhvRKTuzNhrk647tXfEp1T5agk4fg2yYMEt3OBe3pOdn6Gfazq8wcsJvz8MyJPuRE8ujAeGI7Ms7v8lJEnf5p8buuZtDqIVdgChWudyMIyJ-JxkC9zU6X0VDzxI0njQfckMvrdWGYueZTwInECjTwqch1xC0RewacttDakgwQoDUpKvhR_HH5peMvnHA7KexI_45MrZG1DnFcf6idc1MNBIxD1ASMWlPaPLDDBKuGZLR16RiGShxxgoNBhQG6m-0fN6A0adB5OwKF5_wVKhcJJrDKIRN_xyPnnpyCVb4rIu18ZV6h0LmlKOL5mrmskzF_j0UWzlJHmuJLOrqq2yW-ALufqxowiGY__wqWuYsIUgf9ELu9yT_BavLBLu_dzR7NqsyEYH3NXVCridfLIIU6rxxX0yqLntCKn3Zp-YNg-q6C-hukBNvxz9FYZToit-c3iA1brU_k0FzKLItR3R1HANkdwZ8UP-aIwZE0ipLJMYm2ChYlY65ExM5u1voLcTYjHWhMx-SV3AUVMlWZRRuAziFryioqgi0=w474-h316-p-k-no" class="img-thumbnail">
          <p class="album-title lead">{{ _('Sobota') }}</p>
        </a>
        <p class="image-caption text-center">Photos by Ján Gondoľ may be reused under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY license</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 album">
        <a href="https://photos.google.com/share/AF1QipP9VFNE__9IyWyA9hvsadMIigOYGmaUchziP4gxANLx927es_Wp37OT6gdtHHhtiA?key=OGkyb19KeWpzeFk3NDF5STd4b2ZLN0pzMmZJeTRB" target="_blank">
          <img src="https://lh3.googleusercontent.com/K6ac24zTDpf-WSGgbmMPMonqB3-dLKXjTeVlwQqkVNZSjedFn7iMcztiCKKSS8Ii1wUn2gUkqm1nuod6V8xHg0TFVGbtBgW2SHOTaox6YhwiD5XnEmA3-ShCZT_7WMsu4R5uSMgUUWtqu_OxKltjwDCNn1g5TgPlyy_VNJyrIYWnODJHbME7VN2pWkM6OIXFtM3_nM7DCvdGY-AJoMnw_Ji3tkzr3U1mTcjuyQuVct8HoAJLMaEkzsYe16o3YvdfJLwRdHCEw8kiYMogp-bsUsZ8tpSbYMbQE3oGDnOQIyDY0koLXZ0NL-wOiDu-BxtzW7R_aEAcwpETxgV7hTBE1qSlHvsoqtxg0a53-3jVdKuXKdQbvyoB-X7d1IAQ8bhqDawfxOxDoca856XfqbvehWGTmpXaZ7FJe3F87c8eRJBcPsEk8tbHIqN06CHeTNl1onNDT00o31CBaP2cZ9ULfHyEsmxFoxsrQBUw4ADAmh_edzGioMlRdp3NP8LE53orAriFYJubosm17TTKnineQknhrEHSlfPgfRq-bqCZQd31DRNyaIJXR5L67TO8cwgJO9E=w474-h316-p-k-no" class="img-thumbnail">
          <p class="album-title lead">Django Girls</p>
        </a>
        <p class="image-caption text-center">Photos by <a href="https://www.facebook.com/Lucia-Kotrhova-Photography-1642112182707841/" target="_blank">Lucia Kotrhova</a> may be reused under the <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC license</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
