<ul class="horizontal-list hidden-print">
  <li class="{{ li_schedule_fri }}"><a href="{{ url_for('schedule_fri', lang_code=lang_code) }}">{{ _('Piatok, 11.&nbsp;3.&nbsp;2016') }}</a></li>
  <li class="{{ li_schedule_sat }}"><a href="{{ url_for('schedule_sat', lang_code=lang_code) }}">{{ _('Sobota, 12.&nbsp;3.&nbsp;2016') }}</a></li>
  <li class="{{ li_schedule_sun }}"><a href="{{ url_for('schedule_sun', lang_code=lang_code) }}">{{ _('Nedeľa, 13.&nbsp;3.&nbsp;2016') }}</a></li>
</ul>

<p>{{ _('Zmena programu vyhradená.') }}</p>
