<div id="event-details" class="modal modal-transparent fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="event-title"></h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 talk-abstract">
            <p id="event-desc" class="text-justify"></p>
          </div>
          <div class="col-md-4 talk-data">
            <table class="table table-side">
              <tbody>
                <tr><th>{{ _('Začiatok') }}:</th><td id="event-startime"></td></tr>
                <tr><th>{{ _('Miestnosť') }}:</th><td id="event-room"></td></tr>
                <tr><th>{{ _('Jazyk') }}:</th><td id="event-lang"></td></tr>
                <tr><th>{{ _('Rečník') }}:</th><td id="event-speaker"></td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row" id="speaker-bio"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{# TODO: performance tuning #}
<script type="text/javascript">
var speakers_url = '/{{ lang_code }}/speakers.html';
var speakers_page = null;

function update_speaker_bio(bio, speaker_id) {
  var speaker_row;

  bio.empty();

  function update() {
    speaker_row = speakers_page.find(speaker_id);

    if (speaker_row.length) {
      bio.html(speaker_row.html());
    }
  }

  if (speakers_page) {
    update();
  } else {
    $.ajax({'url': speakers_url, 'cache': true}).done(function(html, state, xhr) {
      speakers_page = $(html);
      update();
    });
  }
}

function tr_click() {
  var mod = $('#event-details');
  var tr = $(this);
  var talk = tr.find('div.talk');
  var speaker = tr.find('div.speaker');
  var bio = mod.find('#speaker-bio');

  mod.find('#event-title').html(talk.html());
  mod.find('#event-desc').html(talk.data('abstract'));
  mod.find('#event-speaker').html(speaker.html());
  mod.find('#event-startime').html(tr.find('div.time').html() + ' ('+ talk.data('duration') +'&nbsp;min.)');
  mod.find('#event-lang').html(tr.find('div.lang').html());
  mod.find('#event-room').html(tr.parent().parent().find('span.room').html());

  update_speaker_bio(mod.find('#speaker-bio'), '#' + speaker.data('id'));

  // Here we go
  mod.modal('show');
}

$(document).ready(function() {
  $('tr.event').click(tr_click);
});
</script>
