{% extends "body.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Program') }}</h1>
    <p class="lead">{{ _('Nedeľa, 13. marca 2016') }}</p>

    <div class="row">
      <div class="col-md-12">
        {% include "schedule-days.html" %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 narrow">
        <table class="table table-striped table-hover schedule">
          <tbody>
            <tr class="event-dummy event-registration">
              <td>
                <div class="time">8:00 - 8:50</div>
                <div class="lang">EN/SK</div>
              </td>
              <td>
                <div class="talk">{{ _('Registrácia') }}</div>
                <div class="speaker">{{ _('<a href="%(url)s">Hlavný vchod FIIT STU</a>', url=url_for('getting_here', lang_code=lang_code)) }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 narrow">
        <table class="table table-striped table-hover schedule">

          <thead>
            <tr>
              <th colspan="2" class="text-center"><span class="room">{{ _('Turingova učebňa') }}</span> ({{ _('miestnosť') }} -1.58)</th>
            </tr>
          </thead>

          <tbody>
            <tr class="event-dummy">
              <td>
                <div class="time">09:00</div>
                <div class="lang">EN/SK</div>
              </td>
              <td>
                <div class="talk free">{{ _('Workshopy a šprinty') }}
                  <ul>
                    <li><b>Rodolfo Carvalho &amp; Tatiana Al-Chueyr Martins</b><br><i>Python Coding Dojo</i></li>
                    <li><b>Peter Matkovski</b><br><i>Tiny Python Host-Based IDS for the poor &amp; lazy</i></li>
                    <li><b>Matúš Rehák</b><br><i>Automated Measurements using Python</i></li>
                    <li><b>Jesús Cea Avión &amp; Adam Števko</b><br><i>DTrace Sprint</i></li>
                    <li><b>Bjarni Runar Einarsson</b><br><i>Mailpile Workshop</i></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped table-hover schedule">
          <tbody>
            <tr class="event-dummy event-lunch">
              <td>
                <div class="time">12:00</div>
                <div class="lang"></div>
              </td>
              <td>
                <div class="talk">{{ _('Obedná prestávka') }}</div>
                <div class="speaker"></div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped table-hover schedule">
          <thead>
            <tr>
              <th colspan="2" class="text-center"><span class="room">{{ _('Turingova učebňa') }}</span> ({{ _('miestnosť') }} -1.58)</th>
            </tr>
          </thead>

          <tbody>
            <tr class="event-dummy">
              <td>
                <div class="time">13:00 - 17:00</div>
                <div class="lang">EN/SK</div>
              </td>
              <td>
                <div class="talk">... {{ _('pokračovanie workshopov a šprintov') }}</div>
                <div class="speaker"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  {# inner col 6 #}

      <div class="col-md-6 narrow">
        <table class="table table-striped table-hover schedule">

          <thead>
            <tr>
              <th colspan="2" class="text-center"><span class="room">{{ _('Babbageova učebňa') }}</span> ({{ _('miestnosť') }} -1.57)</th>
            </tr>
          </thead>

          <tbody>
            <tr class="event-dummy">
              <td>
                <div class="time">08:30 - 18:00</div>
                <div class="lang">EN/SK</div>
              </td>
              <td>
                <div class="talk oneline"><a href="https://djangogirls.org/bratislava/#schedule">Django Girls workshop</a></div>
                <div class="speaker"><small>{{ _('Len pre registrovaných účastníkov. Registrácie sú uzavreté.') }}</small></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  {# inner col 6 #}

    </div>  {# row #}
  </div> {# outer col 8 #}

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>

</div>
{% endblock %}

{% block scripts %}
{% include "schedule-js.html" %}
{% endblock %}
