body {
  padding-top: 70px;
}

img.navbar-brand {
  height: 60px;
  padding-top: 6px;
}

mark.gold {
  background-color: #FCF8E3;
}

mark.platinum {
  background-color: #E5E4E2;
}

footer {
  margin: 5em 0;
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.tito-ticket-description {
  font-size: 1.1rem;
}
