{% extends "body.html" %}
{% block content %}
    
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8">
        <div class="bs-component">

    <div class="jumbotron">
      <h1>Druhý Bratislavský Python Meetup</h1>
      <h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 4. august 2015 – 18:00</h2>
      <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <a href="https://progressbar.sk/calendar/" title="Kalendár ProgressBaru">ProgressBar Hackerspace,<br />Michalská 3, Bratislava</a></h2>
    </div>

    <p class="text-center"><a href="https://www.python.org/" target="_blank" title="Domovská stránka Pythonu"><img src="images/python_logo.png" alt="Python" /></a></p>
    <p>Kontakt: <a href="mailto:meetup@pycon.sk?subject=Druhý%20Bratislavský%20Python%20Meetup" title="Bratislava Python Meetup Email">meetup@pycon.sk</a></p>
    <p>Organizátori: <a href="https://sk.linkedin.com/in/richardkellner" target="_blank" title="Richardov Linkedin">Richard Kellner</a>, <a href="https://sk.linkedin.com/in/danielkontsek" target="_blank" title="Danov Linkedin">Daniel Kontšek</a></p>
    <p>Lanyrd: <a href="http://lanyrd.com/2015/pyba/" target="_blank" title="Python Bratislava Meetup na Lanyrd.com">http://lanyrd.com/2015/pyba/</a></p>
            
        </div>
      </div>
      <div class="col-lg-4">
        {% include 'right_nav.html' %}        
      </div>
    </div>
  </div>

{% endblock %}
