{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>Prvý Bratislavský Python Meetup</h1>
      <h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 7 Júl 2015 – 18:00</h2>
      <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <a href="https://progressbar.sk/calendar/prvy-bratislava-python-meetup" title="Kalendár ProgressBaru">ProgressBar Hackerspace,<br>Michalská 3, Bratislava</a></h2>
    </div>

    <p  class="text-justify">Prvé stretnutie ľudí, ktorí majú záujem o programovanie v Pythone. Či už ste úplný začiatočník (bez akejkoľvek skúsenosti s programovaním), alebo používate iný "zastaralý" programovací jazyk (a radi by ste prešli na niečo "fresh"), príďte a spoznajte nové možnosti, ktoré Python poskytuje. Ak už ste v Pythone čo-to spravili alebo ste expert, budeme radi keď nás prídete niečo naučiť.</p>
    <p class="text-justify">Stretnutie je vhodné pre ľudí zo všetkých oblastí od webového programovania, cez hackovanie hardvéru, až po výskum veľkých dát.</p>
    <p class="text-justify">Vytvorenie Python komunity je dôležité, pretože veľa firiem doma aj v zahraničí začína používať Python a spoznávať jeho výhody. Koniec koncov to bude zábava učiť sa jeden od druhého a pri pive si rozprávať zážitky z krotenia hadov.</p>
    <p>Kontakt: <a href="mailto:meetup@pycon.sk?subject=Prvý%20Bratislavský%20Python%20Meetup" title="Bratislava Python Meetup Email">meetup@pycon.sk</a></p>
    <p>Organizátori: <a href="https://sk.linkedin.com/in/richardkellner" target="_blank" title="Profil Richarda Kellnera na Linkedine">Richard Kellner</a>, <a href="https://sk.linkedin.com/in/danielkontsek" target="_blank" title="Profil Daniela Kontšeka na Linkedine">Daniel Kontšek</a></p>
    <p>Lanyrd: <a href="http://lanyrd.com/2015/pyba/" target="_blank" title="Python Bratislava Meetup na Lanyrd.com">http://lanyrd.com/2015/pyba/</a></p>
    <p class="text-justify">Na stretnutí sme si predstavili filozofiu meetupov a <a href="https://sk.linkedin.com/in/danielkontsek" target="_blank" title="Profil Daniela Kontšeka na Linkedine">Daniel Kontšek</a> nám spravil stručný úvod do Pythonu. Z Poľska nás prišiel navštíviť <a href="https://pl.linkedin.com/in/fklebczyk" target="_blank" title="Profil Filipa Kłębczyka na LinkedIne">Filip Kłębczyk</a>, ktorý nám porozprával o organizácií poľského PyConu. Nakoniec nám <a href="https://sk.linkedin.com/in/richardkellner" target="_blank" title="Profil Richarda Kellnera na Linkedine">Richard Kellner</a> vysvetlil ako fungovala Enigma a napísali sme si v Pythone princíp jej fungovania.
    <p class="text-justify">iPython notebooky z meetupu nájdete na našom <a href="https://github.com/pyconsk/notebooks/tree/master/ba-01-meetup" target="_blank">Githube</a>.</p>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}        
  </div>
</div>
{% endblock %}
