{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>Tretí Bratislavský Python Meetup</h1>
      <h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 8. september 2015 – 18:00</h2>
      <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <a href="https://progressbar.sk/calendar/" title="Kalendár ProgressBaru">ProgressBar Hackerspace,<br>Michalská 3, Bratislava</a></h2>
    </div>

    <p class="text-justify">Na tomto stretnutí si spravíme workshop o webscrapingu. Budeme scrapovať data z viacerých stránok, aby sme mali praktické príklady na využitie webscrapingu. Nezabudnite si priniesť notebooky, aby ste si odskúšali niečo nové...</p>
    <p>Kontakt: <a href="mailto:meetup@pycon.sk?subject=Tretí%20Bratislavský%20Python%20Meetup" title="Bratislava Python Meetup Email">meetup@pycon.sk</a></p>
    <p>Organizátori: <a href="https://sk.linkedin.com/in/richardkellner" target="_blank" title="Profil Richarda Kellnera na Linkedine">Richard Kellner</a>, <a href="https://sk.linkedin.com/in/danielkontsek" target="_blank" title="Profil Daniela Kontšeka na Linkedine">Daniel Kontšek</a></p>
    <p class="text-justify">Materiály z meetupu nájdete na našom <a href="https://github.com/pyconsk/meetup/tree/master/Bratislava/201509" target="_blank">Githube</a>.</p>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}        
  </div>
</div>
{% endblock %}
