{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>{{ _('Siedmy Bratislavský Python Meetup') }}</h1>
      <h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ _('12. január 2016 – 18:00') }}</h2>
      <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <a href="https://progressbar.sk/calendar/" title="{{ _('Kalendár ProgressBaru') }}">ProgressBar Hackerspace,<br>Michalská 3, Bratislava</a></h2>
    </div>

    <p class="text-justify">{% trans %}Prvý meetup v novom roku začneme minimalisticky. <a href="https://sk.linkedin.com/in/mosat" title="Profil Anderj Mošať na LinkedIn" target="_blank">Anderj Mošať</a> nám príde predstaviť <a href="https://micropython.org/" title="Python pre mikrocontroleri" target="_blank">MicroPython</a>, povieme si prečo je vlastne micro a na čo je dobré mať MicroPython keď máme štandardný Python.{% endtrans %}</p>
    <p class="text-justify">{{ _('Andrej so sebou prinesie microcontroller vlastnej výroby a spravíme si na ňom hello world tutorial. Ak sa zaujímate o Internet of Things, ale neviete kde začať, alebo sa chcete dozvedieť ako si začať vyrábať doma jednoúčelové zariadenia, tento meetup Vás určite zaujme.') }}</p>
    <p class="text-justify">{{ _('Tešíme sa na Vás na stretnutí.') }}</p>
    <p>{{ _('Kontakt') }}: <a href="mailto:meetup@pycon.sk?subject=Siedmy%20Bratislavský%20Python%20Meetup" title="Bratislava Python Meetup Email">meetup@pycon.sk</a></p>
    <p>{{ _('Organizátor') }}: <a href="/{{ lang_code }}/spy.html" title="">SPy o.z.</a></p>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}        
  </div>
</div>
{% endblock %}
