{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>{{ _('Ôsmy Bratislavský Python Meetup') }}</h1>
      <h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ _('9. február 2016 – 18:00') }}</h2>
      <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <a href="https://progressbar.sk/calendar/" title="{{ _('Kalendár ProgressBaru') }}">ProgressBar Hackerspace,<br>Michalská 3, Bratislava</a></h2>
    </div>

    <p class="text-justify">{{ _('Na februárovom meetupu nám <a href="https://github.com/mirobeka" target="_blank">Miroslav Beka</a> ukáže, že Python sa dá použiť na vývoj serióznych “enterprise” alebo produktových aplikácií. Bude hovoriť o pojmoch ako škálovateľnosť, zero down time deployments, continuous integration, continuous deployment a oboznámi nás s osvedčenými postupmi v oblasti nasadenia Pythonových aplikácii na produkčné servery.') }}</p>

    <p class="text-justify">{{ _('Tešíme sa na Vás na stretnutí.') }}</p>
    <p>{{ _('Jazyk') }}: {{ _('slovenčina') }}</p>
    <p> <img class="logo-scale" src="{{ url_for('static', filename=logo_github) }}"/> Github: <a href="https://github.com/pyconsk/meetup/tree/master/Bratislava/201602" target="_blank">https://github.com/pyconsk/meetup/tree/master/Bratislava/201602</a></p>
    <p>{{ _('Kontakt') }}: <a href="mailto:meetup@pycon.sk?subject=Siedmy%20Bratislavský%20Python%20Meetup" title="Bratislava Python Meetup Email">meetup@pycon.sk</a></p>
    <p>{{ _('Organizátor') }}: <a href="/{{ lang_code }}/spy.html" title="">SPy o.z.</a></p>

    <br>

    <p class="text-justify">{{ _('V marci všetko naše úsilie zameriame na PyCon, takže marcový meetup vynecháme a <strong>ďalšie stretnutie bude v apríli</strong>.') }}</p>
 
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}        
  </div>
</div>
{% endblock %}
