{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>{{ _('Druhý Bratislavský Python Meetup') }}</h1>
      <h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ _('4. august 2015 – 18:00') }}</h2>
      <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <a href="https://progressbar.sk/calendar/" title="{{ _('Kalendár ProgressBaru') }}">ProgressBar Hackerspace,<br>Michalská 3, Bratislava</a></h2>
    </div>

    <p class="text-justify">Na druhom stretnutí si stručne predstavíme protokol <a href="https://sk.wikipedia.org/wiki/Extensible_Messaging_and_Presence_Protocol" target="_blank" title="">XMPP</a>, ktorý využíva na komunikáciu <a href="https://github.com/erigones/Ludolph" target="_blank" title="Ludolph: Monitoring jabber bot projekt na Githube">Ludolph</a>. Ludolph je monitorovací jabber bot, ktorý dokáže komunikovať so Zabbixom, má však podpru pluginov a tak je možné ho rozšíriť aj iným smerom. Na meetupe sa budeme hlavne venovať tvorbe vlastného pluginu. Na stretnutie si doneste notebooky a budete si môcť odskúšať spraviť v Pythone plugin do existujúceho projektu.</p>
    <p>{{ _('Kontakt') }}: <a href="mailto:meetup@pycon.sk?subject=Druhý%20Bratislavský%20Python%20Meetup" title="Bratislava Python Meetup Email">meetup@pycon.sk</a></p>
    <p>{{ _('Organizátor') }}: <a href="https://sk.linkedin.com/in/richardkellner" target="_blank" title="Profil Richarda Kellnera na Linkedine">Richard Kellner</a>, <a href="https://sk.linkedin.com/in/danielkontsek" target="_blank" title="Profil Daniela Kontšeka na Linkedine">Daniel Kontšek</a></p>
    <p>Lanyrd: <a href="http://lanyrd.com/2015/pyconsk/" target="_blank" title="Python Bratislava Meetup na Lanyrd.com">http://lanyrd.com/2015/pyconsk/</a></p>
    <p class="text-justify">iPython notebooky z meetupu nájdete na našom <a href="https://github.com/pyconsk/meetup/tree/master/Bratislava/201508" target="_blank">Githube</a>.</p>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}        
  </div>
</div>
{% endblock %}
