{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>{{ _('Šiesty Bratislavský Python Meetup') }}</h1>
      <h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ _('8. december 2015 – 18:00') }}</h2>
      <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <a href="https://progressbar.sk/calendar/" title="{{ _('Kalendár ProgressBaru') }}">ProgressBar Hackerspace,<br>Michalská 3, Bratislava</a></h2>
    </div>

    <p class="text-justify">Na tomto stretnutí sa budeme pokračovať s úvodom do Pythonu. <a href="https://sk.linkedin.com/in/jurajbubniak" target="_blank" title="Profil Juraj Bubniak na LinkedIn">Juraj Bubniak</a> nám príde porozprávať o práci so základnými dátovými typmi v Pythone. Nezabudnite si priniesť notebooky aby ste si odskúšali niečo nové...</p>
    <p class="text-justify">Materiály z meetupu nájdete na <a href="https://github.com/jbub/spy-data-types" target="_blank">https://github.com/jbub/spy-data-types</a>.</p>
    <p class="text-justify">Po workshope bude stretnutie dobrovoľníkov, ktorí sa podieľajú, alebo by sa chceli pridať na organizácií PyCon SK 2016.</p>
    <p>{{ _('Kontakt') }}: <a href="mailto:meetup@pycon.sk?subject=Šiesty%20Bratislavský%20Python%20Meetup" title="{{ _('Bratislava Python Meetup Email') }}">meetup@pycon.sk</a></p>
    <p>{{ _('Organizátor') }}: <a href="/{{ lang_code }}/spy.html" title="">SPy o.z.</a></p>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}        
  </div>
</div>
{% endblock %}
