<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ title }}</title>
    <meta name="description" content="{{ title }} Website">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/pycon.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block header %}{% endblock %}
    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
  </head>
  <body>
  <a href="#content" class="sr-only sr-only-focusable">Preskočiť na hlavný obsah</a>

  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <img class="navbar-brand" src="/images/{{ logo }}" alt="{{ title }} logo" />
          <a href="/" class="navbar-brand">{{ title }}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/meetup.html">Meetup</a>
            </li>
            <li>
              <a href="/code-of-conduct.html">Kódex správania</a>
            </li>
            <li>
              <a href="https://lists.pycon.sk/listinfo">E-mailová konferencia</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" id="content" role="main">
      <!-- content -->
      {% block content %}{% endblock %}
      <!-- content end -->
      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Preskočiť na začiatok</a></li>
              <li><a href="/meetup.ics"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> meetup.ics</a></li>
              <li><a href="https://facebook.com/pyconsk">Facebook</a></li>
              <li><a href="https://twitter.com/pyconsk">Twitter</a></li>
              <li><a href="https://github.com/pyconsk">GitHub</a></li>
            </ul>
            {% block footer %}{% endblock %}

          </div>
        </div>
      </footer>
    </div> <!-- container end -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.ricco.sk/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 6]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.ricco.sk/piwik.php?idsite=6" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
 
  </body>
</html>
