<!DOCTYPE html>
<html lang="{% if lang_code %}{{ lang_code }}{% else %}sk{% endif %}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{ title }}</title>
  <meta name="description" content="{{ title }} Website">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block header %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pycon.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="16x16">
</head>
<body>
  <a href="#content" class="sr-only sr-only-focusable">{{ _('Preskočiť na hlavný obsah') }}</a>

  {% block navbar %}
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <img class="navbar-brand navbar-logo" src="{{ url_for('static', filename=logo) }}" alt="">
        <a href="{{ url_for('index', lang_code=lang_code) }}" class="navbar-brand">{{ title }}</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li class="{{ li_tickets }}">
            <a href="{{ url_for('tickets', lang_code=lang_code) }}">{{ _('Vstupenky') }}</a>
          </li>
          <li class="{{ li_speaking }}">
            <a href="{{ url_for('speaking', lang_code=lang_code) }}">{{ _('Prednášanie') }}</a>
          </li>
          <li class="{{ li_sponsoring }}">
            <a href="{{ url_for('sponsoring', lang_code=lang_code) }}">{{ _('Sponzorovanie') }}</a>
          </li>
          <li class="{{ li_coc }}">
            <a href="{{ url_for('code_of_conduct', lang_code=lang_code) }}">{{ _('Kódex správania') }}</a>
          </li>
          <li class="{{ li_meetup }}">
            <a href="{{ url_for('meetup', lang_code=lang_code) }}">{{ _('Meetup') }}</a>
          </li>
          <li class="{{ li_spy }}">
            <a href="{{ url_for('spy', lang_code=lang_code) }}">{{ _('Občianske združenie') }}</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right lang-nav">
          {% if lang_code != 'en' %}<li><a href="{{ request.path|replace('/'+lang_code, '/en') }}" title="Switch to english language"><img src="{{ url_for('static', filename='images/lang/uk.png') }}" alt="english language"></a></li>{% endif %}
          {% if lang_code != 'sk' %}<li><a href="{{ request.path|replace('/'+lang_code, '/sk') }}" title="Prepnúť na slovenský jazyk"><img src="{{ url_for('static', filename='images/lang/sk.png') }}" alt="slovenský jazyk"></a></li>{% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% endblock %}

  <div class="container" id="content" role="main">
    <!-- content -->
    {% block content %}{% endblock %}
    <!-- content end -->
    <footer>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled">
            <li class="pull-right"><a href="#top">{{ _('Preskočiť na začiatok') }}</a></li>
            <li><a href="https://facebook.com/pyconsk">Facebook</a></li>
            <li><a href="https://twitter.com/pyconsk">Twitter</a></li>
            <li><a href="https://pyconsk.slack.com">Slack</a></li>
            <li><a href="https://github.com/pyconsk">GitHub</a></li>
            <li><a href="mailto:info%40pycon.sk"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> info@pycon.sk</a></li>
            <li><a href="https://lists.pycon.sk/listinfo"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ _('E-mailová konferencia') }}</a></li>
            <li><a href="{{ url_for('static', filename='meetup.ics') }}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> meetup.ics</a></li>
          </ul>
          {% block footer %}{% endblock %}
        </div>
      </div>
    </footer>
  </div> <!-- container end -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik.ricco.sk/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 6]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//piwik.ricco.sk/piwik.php?idsite=6" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->

</body>
</html>
