{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Kódex správania') }}</h1>

    <p class="text-justify">{{ _('Python komunitu tvoria ľudia z celého sveta s rôznorodým súborom zručností, osobností a skúseností. Tieto rozdiely prispievajú k tomu, že naša komunita prežíva veľké úspechy a pokračuje v raste. Keď pracujete s členmi komunity, odporúčame vám dodržiavať tieto pokyny, ktoré pomáhajú riadiť váš styk s ostatnými a snažiť sa udržať Python komunitu pozitívnu, úspešnú a rastúcu.') }}</p>

    <p>{{ _('Člen Python komunity je:') }}</p>

    <h2>{{ _('Otvorený') }}</h2>
    <p class="text-justify">{{ _('Členovia komunity sú otvorení k spolupráci, či už ide priamo o vývoj samotného Pythonu, štandardnej knižnice, dokumentácie, PEPov, vývoj iných Python projektov, iných open source projektov, riešenie spoločensko prospešných problémov, alebo o prácu na iných spriatelených projektoch. Sme vnímaví ku komentárom a konštruktívnej kritike, pretože skúsenosti a zručnosti ostatných členov prispievajú k celému nášmu úsiliu. Prijímame všetkých, ktorí sa chcú zúčastniť našich aktivít, podporujeme prostredie, kde sa môže ktokoľvek podieľať a každý ho môže zlepšiť.') }}</p>

    <h2>{{ _('Ohľaduplný') }}</h2>
    <p class="text-justify">{{ _('Členovia komunity sú ohľaduplní voči ostatným používateľom Pythonu. Rešpektujeme úsilie druhých, pričom máme na pamäti, že častokrát ich práca bola venovaná len pre dobro komunity. Sme všímaví v našich vyjadreniach, či už osobne alebo on-line, a sme taktní, keď príde na rozdielne názory.') }}</p>

    <h2>{{ _('Úctivý') }}</h2>
    <p class="text-justify">{{ _('Členovia komunity sú úctiví. Rešpektujeme ostatných, ich pozíciu, ich zručnosti, ich záväzky a ich úsilie. Rešpektujeme dobrovoľné úsilie, ktoré venujú Python komunite. Rešpektujeme postupy stanovené v komunite a využívame ich pri práci. Keď nesúhlasíme, sme zdvorilí pri adresovaní našich problémov.') }}</p>

    <p>{{ _('Celkovo sme dobrí k sebe navzájom. Prispievame k tejto komunite nie preto, že musíme, ale preto, že chceme. Ak si to uvedomíme, tak nám tieto pokyny prídu prirodzené.') }}</p>

    <h1>{{ _('Slovenská Python Komunita') }}</h1>
    <p class="text-justify">{{ _('PyCon SK aj Python Meetup sa plne stotožňujú s kódexom správania členov Python komunity. Prinášame prostredie, ktoré je otvorené pre všetkých, nezávisle na pohlaví, sexuálnej orientácii, postihnutí, fyzickom vzhľade, veľkosti, rase, vzdelaní či vierovyznaní. Každá komunikácia by mala byť úctivá a na profesionálnej úrovni. Buďme k sebe navzájom tolerantní.') }}</p>

    <p class="text-justify">{{ _('Neurážame, ani nezhadzujeme iných účastníkov. Správame sa profesionálne. Obťažovanie, sexistické, rasistické, alebo inak vyraďujúce vtipy sú nevhodné na našom stretnutí. Nebudeme tolerovať obťažovanie účastníkov stretnutia v akejkoľvek forme.') }}</p>

  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>

  {# Pages that should be crawled by wget, but have no links pointing to them #}
  <div class="hide">
    <a href="{{ url_for('speaking', lang_code=lang_code) }}"></a>
    <a href="{{ url_for('sponsoring', lang_code=lang_code) }}"></a>
    <a href="{{ url_for('thank_you', lang_code=lang_code) }}"></a>
  </div>

</div>
{% endblock %}
