{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Django Girls') }}</h1>

    <p class="lead">{{ _('Vytvor si vlastnú web aplikáciu. Workshop pre ženy, na ktorom sa naučíš programovať v Pythone.') }}</p>
    <p class="text-center">
      <a href="https://www.djangogirls.org/bratislava{% if lang_code == 'sk'%}_sk{% endif %}/#pyconsk" title="Django Girls" target="_blank">
        <img src="{{ url_for('static', filename='images/partners/django-girls.svg') }}" alt="Django Girls" />
      </a>
    </p>

    <div class="row">
      <div class="col-md-6">
        <h2>{{ _('O workshope') }}</h2>
        <p class="text-justify">{{ _('Ak si dievča a chceš sa naučiť, ako vyvíjať web stránky, máme pre teba dobrú správu. Organizujeme jednodňový workshop pre začiatočníčky! Uskutoční sa v <strong>nedeľu, 13. marca 2016 v Bratislave</strong>, počas prvého PyConu na Slovensku.') }}</p>
        <p class="text-justify">{{ _('Veríme v budúcnosť žien v IT odvetví a chceme ti dať možnosť naučiť sa programovať a stať sa jednou z nás – programátoriek. <b>Workshop je úplne zdarma</b>, no ak si napriek tomu nemôžeš dovoliť prísť, ale si motivovaná sa učiť a následne zdieľať svoje vedomosti, máme pre teba grantový program na cestovné a ubytovanie.') }} {{ _('Ak sa chceš zúčastniť aj na konferencii v piatok resp. v sobotu je potrebné si zakúpiť <a href="%(url)s">vstupenku</a>.', url=url_for('tickets', lang_code=lang_code)) }}</p>
      </div>
      <div class="col-md-6"> 
        <h2>{{ _('Prihlás sa') }}</h2>
        <p class="text-justify">{{ _('Ak si žena, vieš slovensky, alebo anglicky a máš vlastný počítač, môžeš sa prihlásiť. Nepotrebuješ žiadne predchádzajúce znalosti – workshop je určený pre začiatočníčky.') }}</p>
        <p class="text-justify">{{ _('Prihlásiť sa je možné do 14. februára. Najneskôr 1. marca dostaneš potvrdenie, či si bola na vybratá alebo nie.') }}</p>
        <p class="text-center"><a class="btn btn-default btn-lg btn-block btn-warning" href="https://djangogirls.org/bratislava{% if lang_code == 'sk'%}_sk{% endif %}/apply/#pyconsk" role="button" target="_blank">{{ _('Registruj sa') }}</a></p>
      </div>
    </div>

    <h2>{{ _('Často kladené otázky') }}</h2>
    <ul class="text-justify">
      <li><b>{{ _('Čo potrebujem vedieť o vývoji web stránok alebo programovaní?') }}</b><br />
        {{ _('Nič! Workshop je pre začiatočníkov a nepotrebuješ žiadne predchádzajúce skúsenosti. Na druhú stranu, určite sa môžeš prihlásiť, ak už máš nejaké základy (vieš, čo je HTML alebo CSS)') }}
      </li>
      <li><b>{{ _('Mám si doniesť vlastný počítač?') }}</b><br />
        {{ _('Áno. Nemáme žiadny hardvér, očakávame, že si prinesieš vlastný počítač (s nabíjačkou). Je dôležité, aby si si vzala domov všetky materiály, ktoré vytvoríš počas workshopu.') }}
      </li>
      <li><b>{{ _('Musím si niečo nainštalovať na môj počítač?') }}</b><br />
        {{ _('Bolo by dobré mať nainštalované Django ešte pred workshopom, no nie je to podmienka. Naši mentori ti s tým radi pomôžu priamo na workshope.') }}
      </li>
      <li><b>{{ _('Bude sa počas workshopu podávať aj strava?') }}</b><br />
        {{ _('Áno. Vďaka PyCon SK a sponzorom bude počas workshopu podávaný obed, káva a občerstvenie.') }}
      </li>
    </ul>
  
    <div class="image text-center">
      <img src="{{ url_for('static', filename='images/pycon/16482539341_b2cefffda4_z.jpg') }}" alt="" class="img-responsive center-block">
      <p class="image-caption"><a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC</a> by <a href="https://www.flickr.com/photos/djangogirls/16482539341/" target="_blank">Jiři Popelka</a></p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>{{ _('Staň sa mentorom') }}</h2>
        <p class="text-justify">{{ _('Budeme radi, ak sa k nám pridáš a staneš sa mentorom. Pošli nám email na <a href="mailto:bratislava@djangogirls.org">bratislava@djangogirls.org</a> a napíš nám niečo o sebe... <br />My sa ozveme späť :)') }}</p>
      </div>
      <div class="col-md-6">  
        <h2>{{ _('Django Girls') }}</h2>
        <p class="text-justify">{{ _('Django Girls workshop na konferencii PyCon SK je súčasťou medzinárodnej iniciatívy <a href="https://www.djangogirls.org/#pyconsk" title="Django Girls" target="_blank">Django Girls</a>. Je to nezisková organizácia, ktorej učebné materiály využívajú dobrovoľníci na výučbu programovania po celom svete.') }}</p>
      </div>
    </div>

    <h2>{{ _('Sponzori') }}</h2>
    <p class="text-justify">{{ _('Nemohli by sme tu byť bez podpory od úžasných ľudí a spoločností, ktorí poskytli peniaze, vedomosti a svoj čas, aby nám pomohli uskutočniť tento workshop.') }}</p>
    <p>
      <a href="https://www.python.org/psf/#pyconsk" title="PSF" target="_blank"><img src="{{ url_for('static', filename='images/sponsors/psf-logo.svg') }}" alt="PSF" style="width:200px" /></a>&nbsp;&nbsp;
      <a href="http://www.ajtyvit.sk/#pyconsk" title="Aj Ty v IT" target="_blank"><img src="{{ url_for('static', filename='images/partners/ajtyvit.svg') }}" alt="Aj Ty v IT" style="height:76px" /></a>&nbsp;&nbsp; 
      <a href="https://{{ lang_code }}.skypicker.com/#pyconsk" title="Skypicker.com" target="_blank"><img src="{{ url_for('static', filename='images/sponsors/skypicker-logo.svg') }}" alt="Skypicker.com" style="width:200px" /></a>&nbsp;&nbsp;
      <a href="https://divio.com/#pyconsk" title="DIVIO" target="_blank"><img src="{{ url_for('static', filename='images/sponsors/divio-logo.svg') }}" alt="DIVIO" style="height:76px" /></a>
    </p>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>

</div>
{% endblock %}
