{% extends "body.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8">

    <h1>{{ _('Ako sa sem dostať?') }}</h1>
    <p class="lead">{{ _('Ste skvelý. Už máte lístok na konferenciu a potrebujete zistiť možnosti dopravy? Na tejto stránke nájdete kompletnú informáciu o tom, ako sa na konferenciu dostanete.') }}</p>

    <div class="row">
      <div class="col-md-12 text-center">

        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <a href="#to-ba" class="btn btn-default">{{ _('Cestovanie do Bratislavy') }}</a>
          </div>
          <div class="btn-group" role="group">
            <a href="#in-ba" class="btn btn-default">{{ _('Cestovanie po Bratislave') }}</a>
          </div>
          <div class="btn-group" role="group">
            <a href="#map" class="btn btn-default">{{ _('Mapa') }}</a>
          </div>
          <div class="btn-group" role="group">
            <a href="#accomodation" class="btn btn-default">{{ _('Ubytovanie') }}</a>
          </div>
        </div>

      </div>
    </div>

    <div class="row" id="to-ba"> 
      <div class="col-md-12">
        <h2>{{ _('Cestovanie do Bratislavy') }}</h2>
        <p class="text-justify">
          {{ _('Bratislava patrí medzi najmladšie hlavné mestá Európy. Napriek tomu má bohatú históriu slobodného kráľovského korunovačného mesta. Vtedy bola ešte Prešporkom nazývaná. Dnes je Bratislava významný dopravný uzol v strednej Európe a možností, ako sa sem dostať, je neúrekom.') }}
        </p>
      </div>
    </div>

    <div class="row" id="fly-car">
      <div class="col-md-6 text-justify">
        <h3>{{ _('Letecky') }}</h3>
        <p>{{ _('Ak cestujete do Bratislavy, môžete letieť na bratislavské letisko (kód letiska: BTS) alebo na letisko Viedeň (kód letiska: VIE). Medzi viedenským letiskom a Bratislavou premáva priame a cenovo dostupné autobusové spojenie každú hodinu - jednosmerná jazda stojí okolo 7 EUR. Viedenské letisko má v porovnaní s bratislavským podstatne väčší výber letov.') }}</p>
        <p class="text-justify">{{ _('Medzi viedenským Schwechatom a Bratislavou prevádzkujú autobusovú prepravu dve spoločnosti: SlovakLines (červené autobusy) a Blaguss (strieborné autobusy). Blaguss je rýchlejší aj lacnejší, no so SlovakLines sa dostanete priamo na <a href="#bus-train">autobusovú stanicu</a>. <a href="http://www.eurolines.sk/fileadmin/user_upload/cestovne_poriadky/mal_new/wien_new.pdf" target="_blank" title="Rozpis spojov">Detailný cestovný poriadok</a>.') }}</p>
      </div>

      <div class="col-md-6 text-justify">
        <h3 id="car">{{ _('Autom') }}</h3>
        <ul>
          <li>{{ _('Z Viedne smerom na letisko Schwechat po diaľnici A4, odbočte na diaľnicu A6, ktorá vedie priamo do Bratislavy.') }}</li>
          <li>{{ _('Z Budapešti po diaľnici M1 smerom na Gyor, neskôr odbočte na cestu M15 smerom na Slovensko, do Bratislavy.') }}</li>
          <li>{{ _('Z Prahy po diaľnici D1 do Brna, tam odbočte na D2, ktorá vedie až na Slovensko a pokračujte smerom do Bratislavy.') }}</li>
          <li>{{ _('Z Varšavy po diaľnici A1 smerom na Katowice, odtiaľ na Slovensko do Čadce po ceste prvej triedy až do Žiliny. Potom po diaľnici D1 až do Bratislavy.') }}</li>
        </ul>
      </div>
    </div>

    <div class="row" id="bus-train">
      <div class="col-md-6 text-justify">
        <h3>{{ _('Autobusom') }}</h3>
        <p>{{ _('Všetky okolité hlavné mestá - Viedeň, Praha, Budapešť, Varšava aj Kyjev - majú priame autobusové spojenie do Bratislavy.') }}</p>
        <p>{{ _('Keď vystúpite na autobusovej stanici v Bratislave (Mlynské Nivy), musíte prejsť cez staničnú halu k hlavnému vchodu. Zamierte doľava a po približne 70 metroch sa dostanete k zastávkam <a href="#public-transport">mestskej hromadnej dopravy</a>.') }}</p>
      </div>

      <div class="col-md-6 text-justify">
        <h3>{{ _('Vlakom') }}</h3>
        <p>{{ _('Z hlavných miest všetkých susedných krajín, teda z Viedne, Prahy, Budapešti, Varšavy aj Kyjeva, sa priamo do Bratislavy možno dostať aj vlakom.') }}</p>
        <p>{{ _('Po príchode na hlavnú železničnú stanicu v Bratislave prejdite cez staničnú budovu k hlavnému vchodu. Po pravej ruke, približne o 100 metrov nižšie, sa nachádzajú zastávky <a href="#public-transport">mestskej hromadnej dopravy</a>.') }}</p>
      </div>
    </div>

    <div class="row" id="in-ba">
      <div class="col-md-12 text-justify">
        <h2>{{ _('Cestovanie po Bratislave a na konferenciu') }}</h2>
        <h3>{{ _('Autom') }}</h3>
        <ul>
          <li>{{ _('Zo smeru BRNO -> BRATISLAVA: z diaľnice D-2 (E65) po Lamačskej ceste tunelom Sitina (alebo cez Patrónku), potom odbočte doprava do Mlynskej doliny.') }}</li>
          <li>{{ _('Zo smeru NITRA, ŽILINA -> BRATISLAVA: z diaľnice D-1 (E75) pokračujte v smere Wien, Györ, Brno, potom odbočte na most Lafranconi (smer Brno) do Mlynskej doliny.') }}</li>
          <li>{{ _('Zo smeru VIEDEŇ -> BRATISLAVA: z cesty E58 (štátna hranica) pokračujte v smere Brno na most Lafranconi, potom odbočte do Mlynskej doliny.') }}</li>
          <li>{{ _('Pre pohodlnejšiu cestu odporúčame použiť GPS navigáciu, ktorá vás môže doviesť priamo na miesto konferencie: Bratislava, Ilkovičova 2, Fakulta informatiky a informačných technológií.') }}.</li>
        </ul>
        <p>{{ _('Pred budovou konferencie sú zabezpečené voľné parkovacie miesta.') }}</p>
      </div>
    </div>

    <div class="row" id="public-transport">
      <div class="col-md-12 text-justify">
        <h3>{{ _('MHD') }}</h3>

        <div class="row">
          <div class="col-md-6 text-justify">

            <p>{{ _('Aby ste sa dostali na konferenciu <strong>z autobusovej stanice</strong>, nastúpte na autobus č. 70 smerom na “Most SNP” a vystúpte na zastávke “Most SNP”. Cesta trvá zvyčajne 5 minút, v závislosti od premávky. Tu <strong>máte niekoľko možností prestupov. Môžete</strong>') }}</p>
            <ul><li>{{ _('nastúpiť na autobus č. 30 alebo 37 a vystúpiť na zastávke “ZOO”. Cesta trvá približne 5-7 minút, v závislosti od premávky.') }}</li></ul>
            <p>{{ _('alebo') }}</p>
            <ul><li>{{ _('nastúpiť na autobus č. 28 alebo 29, prípadne električky č. 4, 5, 6 alebo 9, a vystúpiť na zastávke “Botanická záhrada”. Cesta by mala trvať približne 6-9 minút.') }}</li></ul>
          </div>

          <div class="col-md-6 text-justify">

            <p>{{ _('Aby ste sa dostali na konferenciu <strong>z hlavnej stanice</strong>, nastúpte na autobus č. 32 smerom na “Dlhé diely” a vystúpte na zastávke “ZOO”. Cesta trvá zvyčajne 12-15 minút, v závislosti od premávky.') }}</p>
            <hr />
            <p>{{ _('Aby ste sa dostali na konferenciu <strong>z hotela Ibis</strong>, prejdite peši na zastávku “Zochova” a nastúpte na autobus č. 31 alebo 39 smerom “Cintorín Slávičie údolie”. Po 8 až 10 minútach vystúpte na zastávke “ZOO”.') }}</p>
          </div>
        </div>

        <p>{{ _('Od zastávok autobusu budú viditeľne umiestnené značky, ktoré vás dovedú priamo na konferenciu. Pre istotu odporúčame pozrieť si v predstihu okolie miesta konferencie na Google Street View. Získate dobrú predstavu o tom, kam by ste sa mali dostať.') }}</p>
      </div>
    </div>

    <div class="row" id="tickets">
      <div class="col-md-6 text-justify">
        <h3>{{ _('Lístok na MHD') }}</h3>
        <p>
        {{ _('Lístky na MHD si môžete kúpiť v žltých automatoch, ktoré akceptujú euro mince, alebo v stánkoch PNS. Na výber cestovného lístka budete mať viacero možností. Za 90 centov si môžete kúpiť lístok, ktorý bude platný 30 minút po označení v autobuse alebo električke. Alternatívou je 24- alebo 72-hodinový lístok. S platným lístkom môžete prestupovať medzi autobusmi a električkami bez akýchkoľvek obmedzení. Po nastúpení do autobusu (električky) si lístok musíte označiť. Jeho platnosť sa začína počítať od momentu označenia. Ak s platným cestovným lístkom prestúpite do iného autobusu (električky), lístok už neoznačujte. Študenti ISIC môžu využiť zľavnené listky. Bližšie informáciie nájdete na <a href="%(dpb_url)s" title="stránka Dopravný podnik Bratislava" target="_blank">stránke Dopravného podniku mesta Bratislavy</a>.', dpb_url='http://www.dpb.sk/pre-cestujucich/cestovny-listok/' if lang_code == "sk" else 'http://www.dpb.sk/en/passengers/ticket/') }}
        </p>
      </div>

      <div class="col-md-6 text-justify">
        <h3>{{ _('SMS lístok') }}</h3>
        <p>{{ _('S mobilným telefónom od slovenského operátora (zahraničné SIM karty túto službu nepodporujú) je možné kúpiť lístok na bratislavskú MHD aj zaslaním prázdnej SMS na číslo 1100. Po chvíli dostanete SMS s cestovným lístkom.') }}</p> 
        <p>{{ _('Cena SMS lístka je 1 EUR a platí 70 minút. Dôležité: NENASTUPUJTE do autobusu (električky) hneď po odoslaní SMS, ale až po tom, keď dostanete spätnú SMS s cestovným lístkom. Podrobnejšie informácie nájdete na <a href="%(dpb_url)s" title="stránka Dopravný podnik Bratislava" target="_blank">stránke Dopravného podniku mesta Bratislavy</a>.', dpb_url='http://www.dpb.sk/pre-cestujucich/listok-cez-sms/' if lang_code == "sk" else 'http://www.dpb.sk/en/passengers/ticket-through-sms/') }}
        </p>
      </div>
    </div>

    <div class="row" id="other">
      <div class="col-md-12 text-justify">
        <h3>{{ _('Ďalšie možnosti dopravy') }}</h3>
        <p>{{ _('V Bratislave môžete využiť niekoľko online taxi služieb, napr. Uber alebo Hopin.') }}</p>
        <p>{{ _('Vybrať si môžete aj štandardnú taxi službu. Určite si ale taxík privolajte telefónom. Ak by ste nastúpili do taxíka, ktorý stojí a čaká na klienta, zaplatili by ste podstatne viac.') }}</p>
      </div>
    </div>

    <div class="row" id="map"> 
      <div class="col-md-12">
        <h2>{{ _('Mapa') }}</h2>
        <iframe src="https://www.google.com/maps/d/embed?mid=zrWgmSb-fTHw.kPUnTEsl9160" width="100%" height="500"></iframe>
      </div>
    </div>

    <div class="row" id="accomodation">
      <div class="col-md-12 text-justify">
        <h2 >{{ _('Ubytovanie') }}</h2>
        <p>{{ _('V Bratislave máte široké možnosti ubytovania: od coach surfingu cez Airbnb, hostely až po päťhviezdičkové hotely. Hoci sa konferencia koná mimo hlavnej turistickej sezóny, určite odporúčame zabezpečiť si ubytovanie v predstihu. Najbližšie k miestu konania konferencie je hotel Družba. Väčšina rečníkov bude ubytovaných v hoteli Ibis v centre mesta, kde sa v sobotu bude konať aj spoločenská večera.') }}
        </p>
      </div>
    </div>

    <div class="row" id="travel-guide">
      <div class="col-md-12 text-justify">
        <h3>{{ _('Sprievodca') }}</h3>
        <p>{{ _('V Bratislave sa popri konferencii môžete aj zabaviť a získať jedinečné zážitky. Ak sa rozhodnete ostať v Bratislave o niekoľko dní dlhšie, určite si pozrite <a href="http://mpba.sk/%(lang_code)s" title="M_P_ BA: alternatívna mapa Bratislavy" target="_blank">M_P_ BA</a> (alternatívnu mapu Bratislavy), kde nájdete prehľad obľúbených miest obyvateľov Bratislavy s ich autentickými odporúčaniami a subjektívnymi názormi.', lang_code=lang_code) }}</p>
        <p>{{ _('Prípadne si môžete pozrieť <a href="%(ba_guide_url)s" title="stránky mesta pre návštevníkov" target="_blank">oficialne stránky mesta, určené pre návštevníkov</a>, kde nájdete aj iné udalosti, ktoré sa práve odohrávajú v Bratislave.', ba_guide_url='http://www.visitbratislava.com/sk' if lang_code == "sk" else 'http://www.visitbratislava.com/') }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
