{% extends "body.html" %}
{% block content %}

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8">
        <div class="bs-component">
          <h1>Augustovy meetup bude v utorok 4 augusta, tešíme sa na ďalšie stretnutie.</h1>
          <p>Pravidelné meetupy budu každý prvý utorok v mesiaci. Usilovne pracujeme na programe augustového meetupu. Čoskoro sa dozviete viac...</p>
          <p>Medzičasom sa môžete prihlásiť do <a href="https://lists.pycon.sk/listinfo">e-mailovej konferencie</a>.</p>
        </div>
      </div>
      <div class="col-lg-4">
        {% include 'right_nav.html' %}
      </div>
    </div>
  </div>

{% endblock %}
