{% extends "body.html" %}

{% block header%}
  <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1'>
  <script src='https://js.tito.io/v1' async></script>
  <link rel="canonical" href="https://pycon.sk{{ url_for('index', lang_code=lang_code) }}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('PyCon prichádza na Slovensko!') }}</h1>

    <p class="lead">{{ _('PyCon SK je komunitou organizovaná konferencia pre programovací jazyk Python.') }} {{ _('<strong>Prvý ročník</strong> sa uskutoční <strong>11. 3. 2016 až 13. 3. 2016 v Bratislave</strong>.') }}
    </p>

    <br>
    <p class="lead">
      <a href="https://www.python.org/" target="_blank" title="Domovská stránka Pythonu">
        <img src="{{ url_for('static', filename='images/pycon_sk_logo.svg') }}" alt="PyCon SK" class="img-responsive center-block">
      </a>
    </p>

    {% if lang_code=='sk' %}<p class="text-center lead"><small>Tlačová správa v <a href="{{ url_for('static', filename='tlacova_sprava.pdf') }}"> PDF <span class="glyphicon glyphicon-download-alt"></span></a></small></p>{% endif %}
    <br>

    <p>{{ _('Veľmi sa tešíme, že vám môžeme oznámiť, že okrem dvoch dní zaujímavých prednášok (piatok - slovenský deň, sobota - anglický deň), budeme organizovať aj <a href="%(url)s">Django Girls</a> workshop (nedeľa), ktorý bude vhodný aj pre úplné začiatočníčky.', url=url_for('django_girls', lang_code=lang_code)) }}</p>

    <div class="image text-center">
      <img src="{{ url_for('static', filename='images/pycon/6967347999_105bba91a3_z.jpg') }}" alt="" class="img-responsive center-block">
      <p class="image-caption"><a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC</a> by <a href="https://www.flickr.com/photos/jaaaarel/6967347999/" target="_blank">Taavi Burns</a></p>
    </div>

    <hr>
    <p>
    <a href="{{ url_for('tickets', lang_code=lang_code) }}">{{ _('Vstupenky sú už v predaji.') }}</a> {{ _('Do <strong>24. januára 2016</strong> môžete využiť šancu zakúpiť si lístok za zvýhodnenú cenu.') }}<br />
    <tito-widget event="pyconsk/2016"></tito-widget>
    {{ _('Vstupenky si taktiež môžete kúpiť priamo na internetovej stránke %(tito_link)s v prípade, že sa Vám Tito widget nezobrazuje správne.', tito_link='<a href="https://ti.to/pyconsk/2016">https://ti.to/pyconsk/2016</a>'|safe) }}
    </p>

    <hr>

    <p>{{ _('Ak máte záujem prispieť, stať sa dobrovoľníkom, alebo akokoľvek inak pomôcť s organizáciou PyConu (ktorý je kompletne organizovaný dobrovoľníkmi), budeme radi ak sa nám ozvete.') }}</p>
    <p>{{ _('Medzičasom sa môžete prísť pozrieť na naše pravidelné <a href="%(url)s">meetupy</a>.', url=url_for('meetup', lang_code=lang_code)) }}</p>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
  <div class="hide"><a href="{{ url_for('sponsoring', lang_code=lang_code) }}"></a></div>
  <div class="hide"><a href="{{ url_for('thank_you', lang_code=lang_code) }}"></a></div>
</div>
{% endblock %}
