{% extends "body.html" %}
{% block content %}

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8">
        <div class="bs-component">
          <h1>Augustový meetup bude v utorok 4. augusta, tešíme sa na ďalšie stretnutie.</h1>
          <p><b>Pravidelné meetupy budu každý prvý utorok v mesiaci.</b></p>
          <p>Pripravili sme si niekoľko tém na augustový meetup, preto by sme Vás chceli poprosiť aby ste vyplnili anketu: <a href="http://t.co/zEkuAnm7Ua" title="Anketa s témami na augustový meetup" target="_blank">http://t.co/zEkuAnm7Ua</a>. <b>Nezabudnite si doniesť notebooky</b>. Téma, o ktorú bude najväčší záujem bude spracovaná vo forme workshopu...
          <p>Medzičasom sa môžete prihlásiť do <a href="https://lists.pycon.sk/listinfo">e-mailovej konferencie</a>.</p>
        </div>
      </div>
      <div class="col-lg-4">
        {% include 'right_nav.html' %}
      </div>
    </div>
  </div>

{% endblock %}
