{% extends "body.html" %}
{% block content %}

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8">
        <div class="bs-component">
          <h1>Python Meetup</h1>
          <p>Ďakujeme všetkým čo sa zúčastnili druhého stretnutia, a tešíme sa na Vas na ďalšiom meetupe.</p>
          <p>Python meetup je stretnutie ľudí, ktoré nejakým spôsobom súvisí s programovacím jazykom Python.</p>
          <p>Momentálne sa konajú pravidelné meetupy v Bratislave, každý prvý utorok v mesiaci. Pokiaľ by ste chceli zorganizovať meetup vo Vašom meste neváhajte nás kontaktovať a radi Vám pomôžeme...</p>
          <p>Zriadili sme <a href="https://lists.pycon.sk/listinfo">e-mailove konferencie</a> na rôzne témy, tak sa prihláste a dajte nám o sebe vedieť.</p>
        </div>
      </div>
      <div class="col-lg-4">
        {% include 'right_nav.html' %}
      </div>
    </div>
  </div>

{% endblock %}
