<!-- right_nav -->

<div class="text-center right-nav">
  <h5><mark class="gold">{{ _('Zlatý sponzori:') }}</mark></h5>
  <ul class="list-unstyled">
    <li>
    <a href="https://www.python.org/psf/" target="_blank">
      <img src="{{ url_for('static', filename='images/sponsors/psf-logo.svg') }}" alt="PSF" style="width:200px" />
      <br>
      Python Software Foundation
    </a>
    </li>
  </ul>

  <hr>

  <h5>{{ _('Sponzor virtuálneho datacentra:') }}</h5>
  <a href="http://www.erigones.com" target="_blank">
    <img src="{{ url_for('static', filename='images/sponsors/erigones-logo.svg') }}" alt="Erigones" style="width:200px" />
  </a>

  <hr>

  <h5>{{ _('Priatelia:') }}</h5>
  <ul class="list-unstyled">
    <li>
      <a href="https://progressbar.sk/" target="_blank">
        <img src="{{ url_for('static', filename='images/partners/progressbar.png') }}" alt="Progressbar" style="width:200px" />
      </a>
    </li>
    <li>&nbsp;</li>
    <li>
      <a href="http://www.ajtyvit.sk" target="_blank">
        <img src="{{ url_for('static', filename='images/partners/ajtyvit.png') }}" alt="Aj Ty v IT" style="height:80px" />
      </a>
    </li>
  </ul>
</div>
<!-- right_nav end -->

