<!-- right_nav -->
<div class="list-group">
  <a href="{{ url_for('ba_meetup_04', lang_code=lang_code) }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ _('%(num)s Bratislavský Python Meetup', num='04.') }}</h4>
    <p class="list-group-item-text">{{ _('6. október 2015 – 18:00 - Progressbar') }}</p>
  </a>

  <a href="{{ url_for('ba_meetup_03', lang_code=lang_code) }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ _('%(num)s Bratislavský Python Meetup', num='03.') }}</h4>
    <p class="list-group-item-text">{{ _('8. september 2015 – 18:00 - Progressbar') }}</p>
  </a>

  <a href="{{ url_for('ba_meetup_02', lang_code=lang_code) }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ _('%(num)s Bratislavský Python Meetup', num='02.') }}</h4>
    <p class="list-group-item-text">{{ _('4. august 2015 – 18:00 - Progressbar') }}</p>
  </a>
  <a href="{{ url_for('ba_meetup_01', lang_code=lang_code) }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ _('%(num)s Bratislavský Python Meetup', num='01.') }}</h4>
    <p class="list-group-item-text">{{ _('7. júl 2015 – 18:00 - Progressbar') }}</p>
  </a>
</div>

<div class="text-center">
  <h5>{{ _('Priatelia:') }}</h5>
  <ul class="list-unstyled">
    <li>
      <a href="https://progressbar.sk/" target="_blank">
        <img src="{{ url_for('static', filename='images/partners/progressbar.png') }}" alt="Progressbar" style="border:0;width:200px" />
      </a>
    </li>
    <li>&nbsp;</li>
    <li>
      <a href="http://www.ajtyvit.sk" target="_blank">
        <img src="{{ url_for('static', filename='images/partners/ajtyvit.png') }}" alt="Aj Ty v IT" style="border:0;height:80px" />
      </a>
    </li>
  </ul>

  <hr>

  <h5>{{ _('Sponzor virtuálneho datacentra:') }}</h5>
  <a href="http://www.erigones.com" target="_blank">
    <img src="{{ url_for('static', filename='images/sponsors/erigones-logo.svg') }}" alt="Erigones" style="border:0;width:200px" />
  </a>
</div>
<!-- right_nav end -->

