<!-- right_nav -->
<div class="list-group">
  <a href="ba-03-meetup.html" class="list-group-item">
    <h4 class="list-group-item-heading">03. Bratislavský Python Meetup</h4>
    <p class="list-group-item-text">8. september 2015 – 18:00 - Progressbar</p>
  </a>

  <a href="ba-02-meetup.html" class="list-group-item">
    <h4 class="list-group-item-heading">02. Bratislavský Python Meetup</h4>
    <p class="list-group-item-text">4. august 2015 – 18:00 - Progressbar</p>
  </a>
  <a href="ba-01-meetup.html" class="list-group-item">
    <h4 class="list-group-item-heading">01. Bratislavský Python Meetup</h4>
    <p class="list-group-item-text">7. júl 2015 – 18:00 - Progressbar</p>
  </a>
</div>

<div class="text-center">
  <h5>Priatelia:</h5>
  <ul class="list-unstyled">
    <li>
      <a href="https://progressbar.sk/" target="_blank">
        <img src="images/partners/progressbar.png" alt="Progressbar logo" style="border:0;" width="200" />
      </a>
    </li>
    <li>&nbsp;</li>
    <li>
      <a href="http://www.ajtyvit.sk" target="_blank">
        <img src="images/partners/ajtyvit.png" alt="Progressbar logo" style="border:0;height:80px" />
      </a>
    </li>
  </ul>

  <hr>

  <h5>Sponzor virtuálneho datacentra:</h5>
  <a href="http://www.erigones.com" target="_blank">
    <img src="images/sponsors/erigones-logo.svg" alt="Erigones logo" style="border:0;" width="200" />
  </a>
</div>
<!-- right_nav end -->

