{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Rečníci') }}</h1>
    <p class="lead">{{ _('Rečníci, ktorí vystúpia na PyCon SK 2016.') }}</p>

    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_claus.png') }}" alt="Claus Aichinger" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Claus Aichinger <small>(AT)</small></h3>
        <p>&nbsp;</p>
        <p>
        {{ _('Pracuje s python na dennej báze na Rakúskom Technologickom Inštitúte, rieši výskumné otázky ohľadom dátovej analízy a (štatistickým) modelovaním úloh. Než sa stal fanúšikom pythonu bol nadšený užívateľ MATLABu a zažil ťažkosti, na ktoré narazí užívateľ pri pokuse vytvoriť nové a komplexné prostredie. Preto by sa rád podelil o svoje skúsenosti s tými, ktorí sa zaujímajú o "výpočtové veci".') }}
        </p>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-9 text-justify"><h3>Tibor Arpas <small>(SK)</small></h3>
        <p>&nbsp;</p>
        <p>
        {{ _('Je programátor na voľnej nohe, pracujúci na enterprise softvéri 10 rokov, v poslednej zamestnáva subdodávateľov a poskytuje outsourcing malých vývojárskych tímov.<br>
        Objavil Python v roku 2008 a od vtedy je jeho primárny jazyk. Tiež sa zaujíma o softvérový crowdfunding.<br>
        Má rád veľa (vonkajších) športov, obľúbené je lietanie bez motora (plachtenie).') }}
        </p>
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_tibor.png') }}" alt="Tibor Arpas" class="img-thumbnail" /></div>
    </div>
    <hr />
 
    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_jesus.jpg') }}" alt="Jesús Cea Avión" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Jesús Cea Avión <small>(ES)</small></h3>
        <p>
        <a href="https://blog.jcea.es/" target="_blank" title="Jesús Blog">Blog</a>,
        <a href="https://twitter.com/jcea" target="_blank" title="Jesús Twitter">@jces</a>
        </p>
        <p>
        {{ _('Telekomunikačný inžinier. Milovník Pythonu od 1996, vývojar jadra od 2008, konzultant od 2012. Zakladateľ Pythonových používateľských skupín v Madride a Vigu a Španielskej Python asociácie. Medzi jeho záľuby patrí Python, bezpečnosť a takmer čokoľvek zaujímavé, vrátane podcastov a geocachingu.') }}
        </p>
      </div>
    </div>
    <hr />
    
    <div class="row">
      <div class="col-md-9 text-justify"><h3>Cory Benfield <small>(UK)</small></h3>
        <p>
        <a href="https://lukasa.co.uk/" target="_blank" title="Cory Bloh">Blog</a>,
        <a href="https://twitter.com/Lukasaoz" target="_blank" title="Cory Twitter">@Lukasaoz</a>
        </p>
        <p>
        {{ _('Cory je open source Python vývojár pracujúci na plný úväzok pre <a href="https://www.hpe.com/" target="_blank" title="Hewlett Packard Enterprise">HPE</a> v Python HTTP komunite. Prispievateľ do jadra knižníc <a href="http://docs.python-requests.org/en/latest/" target="_blank" title="Requests: HTTP pre Ľudí">Requests</a>, <a href="https://urllib3.readthedocs.org/en/latest/" target="_blank" title="HTTP knižnica s bezpečným poolovaním vlákien, postovaním súborov a viac.">urllib3</a> a hlavný správca <a href="https://hyper.readthedocs.org/en/latest/" target="_blank" title="Hyper: HTTP/2 Klient pre Python">Hyper projektu</a> - skupiny nástrojov na prácu s HTTP a HTTP/2. Má rád počítačové siete, filmy, televíziu a cestovanie.') }}
        </p>
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_cory.png') }}" alt="Cory Benfield" class="img-thumbnail" /></div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_bjarni.png') }}" alt="Bjarni Runar Einarsson" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Bjarni Runar Einarsson <small>(IS)</small></h3>
        <p>
        <a href="http://bre.klaki.net/" target="_blank" title="Blog">Blog</a>,
        <a href="https://twitter.com/HerraBRE" target="_blank" title="Twitter">@HerraBRE</a>
        </p>
        <p>
        {{ _('Vývojár slobodného softvéru a administrátor z Islandu. Programuje od polovice 90. rokov, vrátanie šesťročného boja so spamom a vírusmi a tri roky v zákulisí v tíme zaručujúcom spoľahlivosť webu Google. Po celý čas bol a je slobodný softvér a digitálna sloboda Bjarniho veľká záľuba, pričom v roku 2010 získal cenu <a href="https://fsfe.org/news/2010/news-20101108-01.en.html" target="_blank" title="Developer z Islandu vyznamenaný Nordic Free Software cenou">Nordic Free Software</a> za jeho zásluhy. Od roku 2009 Bjarni pracuje na plný úväzok ako vývojár na svojich projektoch <a href="https://pagekite.net/" target="_blank" title="PageKite vyrobí lokálnu stránku alebo SSH server verejne prístupný v momente">PageKite</a> a <a href="https://www.mailpile.is/" target="_blank" title="MailPile je e-mailový klient">MailePile</a>.') }}
        </p>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-9 text-justify"><h3>Максим Харандзюк <small>(Max Kharandziuk) (UA)</small></h3>
        <p>
        <a href="https://www.linkedin.com/in/max-kharandziuk-47a4b642" target="_blank" title="LinkedIn">LinkedIn</a>
        </p>
        <p>
        {{ _('Django vývojár v <a href="http://djangostars.com/" target="_blank" title="DjangoStars">DjangoStars</a>. Má záujem o funkcionálne programovanie a testovanie ako spôsob merania kvality kódu.') }}
        </p>
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_max.png') }}" alt="Максим Харандзюк (Max Kharandziuk)" class="img-thumbnail" /></div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_busra.png') }}" alt="Büşra Köken" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Büşra Köken <small>(TR)</small></h3>
        <p>
        <a href="https://hu.linkedin.com/in/busrakoken/en" target="_blank" title="LinkedIn">LinkedIn</a>,
        <a href="https://twitter.com/busrakoken" target="_blank" title="Twitter">@busrakoken</a>
        </p>
        <p>
        {{ _('Büsra pracuje pre Ericsson R&amp;D v Budapešti ako Cloud System Engineer. Zaujíma sa o back-end development, cloud, big data a nové technológie. Má skúsenosti s Python, OpenStack, Zabbix, Rsyslog, a Ansible. Je veľkým fanúšikom Pythonu! Taktiež je zakladateľka sociálneho podnikania na <a href="http://bikokorec.com/" target="_blank">bikokorec.com</a> a bloggerka. Miluje programovanie, fotenie a blogovanie.') }}
        </p>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-9 text-justify"><h3>Michal Kuffa <small>(SK)</small></h3>
        <p>
        <a href="https://sk.linkedin.com/in/michalkuffa" target="_blank" title="LinkedIn">LinkedIn</a>,
        </p>
        <p>
        {{ _('Robí s pythonom na dennej báze posledných 5 rokov. Vo <a href="https://www.vnet.sk/" target="_blank" title="Vnet">Vnete</a> je zodpovedný za rozvoj interných aplikácií a automatizáciu procesov spoločnosti. Má záujem o back-end vývoj, internet vecí, bezpečnosti IT a je nadšenec open source technológií.') }}
        </p>
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_michal.png') }}" alt="Michal Kuffa" class="img-thumbnail" /></div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_svetlana.png') }}" alt="Svetlana Margetová" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Svetlana Margetová <small>(SK)</small></h3>
        <p>
        <a href="https://twitter.com/Mandragora258" target="_blank" title="Twitter">@Mandragora258</a>
        </p>
        <p>
        {{ _('Svetlana sa venuje programovaniu v Pythone a Djangu v spoločnosti <a href="http://thebrainity.com/" target="_blank">Brainity</a>, kde vyvíja hlavne backendové riešenia pre mobilné aplikácie. Vo voľnom čase sa venuje vývoju mobilných aplikácií pre platformu iOS. Má rada nové technológie, UI/UX a snaží sa každú úlohu a program čo najviac zoptimalizovať.') }}
        </p>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-9 text-justify"><h3>Tatiana Al-Chueyr Martins <small>(BR)</small></h3>
        <p>
        <a href="https://twitter.com/tati_alchueyr" target="_blank" title="Twitter">@tati_alchueyr</a>
        </p>
        <p>
        {{ _('Tatiana začala programovať v roku 2002. Prešla od vyvoja lekárskych zobrazovacích aplikácií až na odporúčacie platformy pomocou webovej sémantiky - väčšinou pomocou pythonu. Potom, čo pracovala pre ministerstvo vedy a technológie Brazílie a najväčšej mediálnej spoločnosťi Latinskej Ameriky (Globo), sa presťahovala do Londýna a pracuje pre <a href="http://www.ef.edu/" target="_blank" title="Education First">Education First</a> (EF), vyvíja vzdelávacie aplikácie.') }}
        </p>
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_tatiana.png') }}" alt="Tatiana Al-Chueyr Martins" class="img-thumbnail" /></div>
    </div>
    <hr />
 
    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_daniele.png') }}" alt="Daniele Procida" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Daniele Procida <small>(UK)</small></h3>
        <p>
        <a href="https://twitter.com/evildmp" target="_blank" title="Twitter">@evildmp</a>
        </p>
        <p>
        {{ _('Daniele bol organizátorom Django víkendu v Cardiffe a aj členom organizačnej komisie DjangoCon Europe 2014 a jej predsedom v roku 2015. Tiež bol jedným z hlavných organizátorov Python Namibia 2015, prvej Python konferencie v Namíbií. Je vývojár jadra v Django projekte a pracuje pre <a href="http://www.divio.com/" target="_blank" title="Divio">Divio</a>. V Divio pracuje na <a href="http://www.django-cms.org/" target="_blank" title="Django CMS - Ľahko použiteľné pre editorov a aj vývojárov">Django CMS</a>, <a href="http://www.aldryn.com/" target="_blank" title="Aldryn - Najjednoduchší spôsob ako postaviť a spravovať django CMS projekty">Aldryn</a> a iných zábavných Django projektoch.') }}
        </p>
      </div>
    </div>
    <hr />
    
    <div class="row">
      <div class="col-md-9 text-justify"><h3>Matúš Rehák <small>(SK)</small></h3>
        <p>
        <a href="https://sk.linkedin.com/in/matus-rehak-3b6b1725" target="_blank" title="LinkedIn">LinkedIn</a>
        </p>
        <p>
        {{ _('Matúš je PhD študent na Fakulte matematiky, fyziky a informatiky Univerzity Komenského v Bratislave. Venuje sa skúmaniu kvantových javov v mezoskopických štruktúrach vysokofrekvenčnými metódami pri milikelvinových tepolotách. Python  používa v laboratóriách na všetko, čo ako fyzik potrebuje: komunikáciu s meracími prístrojmi, zber a vyhodnocovanie dát, simulácie.') }}
        </p>
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_matus.png') }}" alt="Matúš Rehák" class="img-thumbnail" /></div>
    </div>
    <hr />
    
    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_michael.png') }}" alt="Michael Scherer" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Michael Scherer <small>(FR)</small></h3>
        <p>
        <a href="https://community.redhat.com/blog/author/misc/" target="_blank" title="Blog">Blog</a>
        </p>
        <p>
        {{ _('Michael pracuje pre Red Hat v týme Open Source a štandardy, zaujíma sa o infraštruktúrne problémy rôznych komunít ako systémový administrátor. Dlho ročný python vývojár, žijúci v Paríži, v prípade že necestuje a nerozpráva po konferenciach o slobodnom softvéry.') }}
        </p>
      </div>
    </div>
    <hr />


    <div class="row">
      <div class="col-md-9 text-justify"><h3>Andrea Šteňová <small>(SK)</small></h3>
        <p>
        <a href="https://www.linkedin.com/in/andrea-%C5%A1te%C5%88ov%C3%A1-3b92b050" target="_blank" title="LinkedIn">LinkedIn</a>
        </p>
        <p>
        {{ _('Andrea sa venuje vývoju serverových aplikácií od roku 2012. Pochádza z IT rodiny a aj vďaka tomu sa vybrala touto cestou. Neznáša zlý kód a zastaralé technológie. Spoluorganizuje stretnutia Bratislavského Scala meetupu.') }}
        </p>
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_andrea.png') }}" alt="Andrea" class="img-thumbnail" /></div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_nicholas.png') }}" alt="Nicholas H.Tollervey" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Nicholas H. Tollervey <small>(UK)</small></h3>
        <p>
        <a href="http://ntoll.org/" target="_blank" title="Nicholas Blog">Blog</a>,
        <a href="https://twitter.com/ntoll" target="_blank" title="Nicholas Twitter">@ntoll</a>
        </p>
        <p>
        {{ _('Nicholas je klasicky vyškolený hudobník, absolvent filozofie, učiteľ, spisovateľ a vývojár softvéru. Spolupracuje s nadáciou Python Software Foundation, ktorá mu udelila ocenenie komunity za jeho prácu v oblasti vzdelávania. Je jednoducho taký ako táto biografia: stručný, čestný a plný užitočných informácií.') }}
        </p>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-9 text-justify"><h3>Petr Viktorin <small>(CZ)</small></h3>
        <p>
        <a href="http://encukou.cz/blog/" target="_blank" title="Petrs Blog">Blog</a>,
        <a href="https://twitter.com/encukou" target="_blank" title="Petrs Twitter">@encukou</a>
        </p>
        <p>
        {{ _('Je softvérový inžinier v <a href="https://www.redhat.com/" target="_blank" title="Red Hat">Red Hat</a>. Keď nepíše Python kód, pomáha organizovať <a href="http://pyvo.cz/" target="_blank" title="PyVo">meetupy</a>, mentoruje PyLadies, a zúčastnuje sa konferencií.') }}
        </p>
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/speakers/avatar_petr.png') }}" alt="Petr Viktorin" class="img-thumbnail" /></div>
    </div>

  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
