{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Rečníci') }}</h1>
    <p class="lead">{{ _('Rečníci, ktorý vystúpia na PyCon SK 2016') }}</p>

    <div class="row">
      <div class="col-md-9 text-justify"><h3>Nicholas H. Tollervey</h3>
        {{ _('Je hudobník, vyštudovaný učiteľ filozofie, spisovateľ a vývojár softvéru. Programuje od roku 1984 kedy sa začal učiť na školskom BBC B. Online je od roku 1994 a kariériu softvérového vývojára začal v roku 2002.') }}
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_nicholas.png') }}" alt="Nicholas H.Tollervey" class="img-thumbnail" /></div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_jesus.jpg') }}" alt="Jesús Cea Avión" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Jesús Cea Avión</h3>
        {{ _('Telekomunikačný inžinier. Milovník Pythonu od 1996, vývojar jadra od 2008, konzultant od 2012. Zakladateľ užívateľských skupín v Madride a Vigu a Španielskej Python asociácie. Medzi jeho záľuby patrí Python, bezpečnosť a takmer čokoľvek zaujímavé, vrátane podcastov a geocachingu.') }}
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-9 text-justify"><h3>Cory Benfield</h3>
        {{ _('je open source Python vývojár pracujúci na plný úväzor pre HPE v Python HTTP komunite. Prispievateľ do jadra knižníc Requests, urllib3 a hlavný správca v Hyper projekte, skupiny nástrojov na prácu s HTTP a HTTP/2. Má rád počítačové siete, filmy, televíziu a cestovanie.') }}
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_cory.png') }}" alt="Cory Benfield" class="img-thumbnail" /></div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_daniele.png') }}" alt="Daniele Procida" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Daniele Procida</h3>
        {{ _('bol organizátor Django víkendu v Cardiffe a aj člen organizačnej komisie DjangoCon Europe 2014 a predseda v 2015. Tiež bol jedným z hlavných organizátorov Python Namibia 2015, prvej Python konferencie v Namíbií. Je vývojar jadra v Django projekte a pracuje pre Divio. V Divio pracuje na Django CMS, Aldryn a iných zábavných Django projektoch.') }}
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-9 text-justify"><h3>Baptiste Mispelon</h3>
        {{ _('Webový vývojár z Francúzska žijúci v Budapešti.') }}<br />
        {{ _('Milovník všetkého, čo je Python a Django.') }}<br />
        {{ _('Má zlú vlastnosť, premeniť všetko čo začne na konferenciu.') }}<br />
        {{ _('Pevne verí v globálnu emojifikáciu.') }}
      </div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_baptiste.png') }}" alt="Baptiste Mispelon" class="img-thumbnail" /></div>
    </div>
    
    <hr />
    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_bjarni.png') }}" alt="Bjarni Runar Einarsson" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Bjarni Runar Einarsson</h3>
        {{ _('vývojár slobodného softvéru a administrátor z Islandu. Programuje od polovice 90-tych rokov, vrátanie šesť ročného boja s spamom a vírusmi a tri roky v zákulisí v tíme zaručujúcom spoľahlivosť webu Google. Celý čas bol slobodný softvér a digitálna sloboda Bjarniho veľká záľuba, v roku 2010 získal cenu Nordic Free Software za jeho zásluhy. Od roku 2009 Bjarni pracuje na plný úväzok a vývojár na sovjich projektoch PageKite a MailePile.') }}
      </div>
    </div>
    
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
