{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Výzva na predloženie návrhov') }}</h1>
    <p class="lead">{{ _('Výzva na predloženie návrhov je otvorená — PyCon SK 2016 v Bratislave, prijíma návrhy na prednášky a workshopy!') }}</p>
    <p class="text-justify">
        {{ _('PyCon je každoročné stretnutie komunity ľudí, ktorý používajú, alebo vyvíjajú open-source programovací jazyk Python.') }} {{ _('Konferencia je kompletne organizovaná dobrovoľníkmi. Ak idete na túto konferenciu, tak ste súčasťou tejto komunity.') }} {{ _('Pokiaľ ste spravili niečo, čo by mohlo zaujímať aj iných, alebo si myslíte, že ostatný by mali vedieť, príďte nám o tom spraviť prednášku.') }} {{ _('Nechceme počúvať iba expertov a známe osobnosti - aj nový perspektívni rečníci sú tiež zaujímaví, tak sa prosím nenechajte odradiť pocitom že nie ste expert alebo známa osobnosť.') }} {{ _('Toto je naša pozvánka, aby ste poslali návrh na prednášku, ak ste ešte nikdy na konferencií neprednášali. Rečníci <strong>vystupujúci prvý krát</strong> budú uprednostňovaní.') }}
    </p>

    <h2>{{ _('Kam poslať Váš návrh na prednášku') }}</h2>
    <p class="text-justify">
        {{ _('Sme radi že máte záujem prednášať na PyCon SK 2016!') }} {{ _('Pošlite nám Váš návrh aj so stručným obsahom na email:') }}
    </p>
    <p class="text-center"><strong><a href="mailto:info@pycon.sk">info@pycon.sk</a></strong></p>
    <p class="text-justify">
        {{ _('Neváhajte poslať viac ako jeden návrh na prednášku.') }} {{ _('<strong>Termín odovzdania návrhov na prednášky je 24. január 2016 (UTC).</strong>') }} {{ _('Vzhľadom na výberové konania, odporúčame budúcim rečníkom, aby predložili svoje návrhy čo najskôr.') }}
    </p>

    <h2>{{ _('Pokyny pre podávanie návrhov') }}</h2>
    <p class="text-justify">
        {{ _('Nie je žiadne oficiálne obmedzenie tém, ktoré môžete navrhnúť ako svoju prednášku.') }} {{ _('Prednášky o Pythone, alebo komunite s vysokou pravdepodobnosťou budú zaujímavé pre publikum. Hlavný bod, ktorý bude komisia pri výbere prednášok zvažovať je ako Vaša prednáška zaujme publikum. Je stanovený limit na jednu prednášku pre rečníka.') }} {{ _('Navrhnúť môžete viac ako jednu, avšak komisia Vás vyzve aby ste vybrali iba jednu prednášku, v prípade že bude akceptovaných viac návrhov.') }}
    </p>

    <h3>{{ _('Prednášky') }}</h3>
    <p class="text-justify">
        {{ _('Väčšina prednášok má dĺžku 30 minút, ale ponúkame aj 45 minútový vstup pre zaujímavé témy, ktoré budú vyžadovať dlhší vstup.') }}

    <h3>{{ _('Workshopy') }}</h3>
    <p class="text-justify">
        {{ _('Tak ako prednášky, tešíme sa na tutoriály, ktoré budú vhodné pre komunitu na akejkoľvek úrovni!') }} {{ _('Usilujeme o výukové programy, ktoré budú zveľaďovať Python komunitu, a formovať budúcnosť.') }} {{ _('Vzhľadom na to že návody trvajú dlhšie a budu v menších miestnostiach, vyžadujú oveľa viac prípravy.') }}
    </p>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
