{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Rečníci') }}</h1>
    <p class="lead">{{ _('Rečníci, ktorý vystúpia na PyCon SK 2016') }}</p>

    <div class="row">
      <div class="col-md-9 text-justify"><h3>Nicholas H. Tollervey</h3> {{ _("He is a classically trained musician, philosophy graduate, teacher, writer and software developer. He have been programming since 1984 when he taught himself by using his school's BBC B. He have been online since 1994 and made software development his career in 2002.") }}</div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_nicholas.png') }}" alt="Nicholas H.Tollervey" class="img-thumbnail" /></div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_jesus.jpg') }}" alt="Jesús Cea Avión" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Jesús Cea Avión</h3> {{ _("Telecommunication Engineer. Python Lover since 1996, core developer since 2008. Freelance consulting since 2012. Founder of Python Madrid and Python Vigo user groups, and Python Spain association. Interested in Python, Security and almost anything interesting, including podcasting and geocaching.") }}</div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-9 text-justify"><h3>Cory Benfield</h3> {{ _("is an open source Python developer working full-time for HPE in the Python HTTP community. He's a Requests core contributor, a urllib3 core contributor, and the lead maintainer on the Hyper project, a toolbox of projects for working with HTTP and HTTP/2. He loves computer networks, film and TV, and travel.") }}</div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_cory.png') }}" alt="Cory Benfield" class="img-thumbnail" /></div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_daniele.png') }}" alt="Daniele Procida" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Daniele Procida</h3> {{ _("Daniele was the organiser of Django Weekend Cardiff, and a member of the organising committee of DjangoCon Europe 2014. He’s also leading the organisation of Python Namibia 2015, the first-ever Python conference to be held in the country. He is a member of the Django Project core team, and works for Divio. At Divio he works on django CMS, Aldryn and other fun Django-based projects.") }}</div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-9 text-justify"><h3>Baptiste Mispelon</h3> {{ _("Web developer from France based in Budapest, Hungary.") }}<br />
        {{ _("Lover of all things Python and Django.") }}<br />
        {{ _("Has a bad habbit of turning everything he does into a conference.") }}<br />
        {{ _("Firm believer in global emojification.") }}</div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_baptiste.png') }}" alt="Baptiste Mispelon" class="img-thumbnail" /></div>
    </div>
    
    <hr />
    <div class="row">
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/avatar_bjarni.png') }}" alt="Bjarni Runar Einarsson" class="img-thumbnail" /></div>
      <div class="col-md-9 text-justify"><h3>Bjarni Runar Einarsson</h3> {{ _("Bjarni Rúnar Einarsson is an Icelandic Free Software developer and systems administrator. He has been writing code and slinging servers since the mid-90s, including a 6 year stint fighting spam and viruses and 3 years behind the scenes on Google's site reliability team. All this time Bjarni's passion has been Free Software and Digital Freedom; in 2010 he received the Nordic Free Software award for his dedication. Since 2009, Bjarni has worked full-time as a Free Software developer, mostly on his two projects, PageKite and Mailpile.") }}</div>
    </div>
    
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
