{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Call For Proposals') }}</h1>
    <p class="lead">{{ _('The Call For Proposals is now open — the PyCon SK 2016 conference in Bratislava, Slovak Republic, is accepting talks, tutorial proposals!') }}</p>
    <p class="text-justify">
      {{ _('PyCon is annual gathering for the community using and developing the open-source Python programming language.') }} {{ _('Conference is completely organized by volunteers, You\'re coming to the event, and that makes you part of the community.') }} {{ _('If you\'ve done something that you think other people might be interested in, or that you think they should know about, please do consider telling us about it.') }} {{ _('We don\'t just want to hear from the experts or famous names - other perspectives are just as valuable, so don\'t let the idea that you\'re not expert or famous enough stop you.') }} {{ _('This is your invitation to submit talk proposal if you haven\'t speak at the conference before. <strong>First-time speakers</strong> talk proposals are preffered.') }}
    </p>

    <h2>{{ _('Where to submit your proposal') }}</h2>
    <p class="text-justify">{{ _('We are glad you are interested in giving a talk at PyCon SK 2016!') }} {{ _('Send us your talk proposal with short abstract to email:') }}</p>
    <p class="text-center"><strong><a href="mailto:info@pycon.sk">info@pycon.sk</a></strong></p>
    <p class="text-justify">{{ _('Don\'t hesitate to submit more than one proposal.') }} {{ _('<strong>The deadline for submissions is the end of 24th January 2016 (UTC).</strong>') }} {{ _('Due to the competitive selection process, we encourage prospective speakers to submit their proposals as early as possible.') }}
    </p>

    <h2>{{ _('Guidelines for Proposal Submission') }}</h2>
    <p class="text-justify">
      {{ _('There is no official restriction on the topic that you propose for a talk session!') }} {{ _('Talks about Python or the Python community are most likely to line up with the interests of PyCon\'s audience, and a key consideration that the talk selection committee will be thinking about is your talk\'s ability to draw an audience.') }} {{ _('We observe a limit of one talk per presenter.') }} {{ _('You may propose more than one, but the committee will ask you to choose only one talk if more than one of your proposals is accepted.') }}
    </p>

    <h3>{{ _('Talks') }}</h3>
    <p class="text-justify">{{ _('Most talks are 30 minutes long, but we do offer a limited number of 45-minute slots for important topics that promise to benefit from a more extensive treatment.') }}</p>
    <h3>{{ _('Workshops') }}</h3>
    <p class="text-justify">{{ _('As with the talks, we are looking for tutorials that can grow this community at any level!') }} {{ _('We aim for tutorials that will advance Python, advance this community, and shape the future.') }} {{ _('As tutorials are longer than talks and are in an interactive classroom-like setting, they require much more preparation. ') }}</p>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
