{% extends "body.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{ _('Naši sponzori') }}</h1>
    <p class="lead">
    {{ _('Ďakujeme všetkým sponzorom, bez ktorých by nebolo možné usporiadať túto úžasnú konferenciu.') }}
    <br/>
    <a href="{{ url_for('sponsoring', lang_code=lang_code) }}">{{ _('Prečo sa stať sponzorom?') }}</a>
    </p>
  </div>
</div>

<div class="sponsors">

<div class="row" id="platinum">
  <div class="col-md-12 text-center">
    <h2><mark class="platinum">{{ _('Platinoví sponzori') }}</mark></h2>
  </div>
</div>

<div class="row">

  <div class="col-md-4 col-md-offset-2">
    <a href="https://www.redhat.com/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/redhat-logo.svg') }}" alt="Red Hat" class="slogo img-responsive center-block" style="width: 80%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>Red Hat</h3>
          <p>www.redhat.com</p>
          <p class="text-justify">{% trans %}Red Hat je rýchlo rastúca spoločnosť dodávajúca open source balík technológií, ktorému dôveruje viac ako 90&#37; firiem z rebríčka Fortune 500. Brno je hlavné technologické centrum Red Hat-u v regióne EMEA, kde sa pracuje na technológiách od middleware až po cloud. Podľa zoznamu Aon Hewitt je Red Hat Brno na treťiom mieste najlepších miest na prácu v Českej republike v roku 2014. Red Hat je miesto, kde sa stretávajú a pracujú ľudia, ktorí milujú open source.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="https://www.erigones.com/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/erigones-logo.svg') }}" alt="Erigones" class="slogo img-responsive center-block" style="width: 80%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>Erigones</h3>
          <p>www.erigones.com</p>
          <p class="text-justify">{% trans %}Profesionálne virtualizačné služby a riešenia zo Slovenska, využívané firmami zaoberajúcimi sa vývojom softvéru a správou veľkých serverových fariem a škálovateľných serverových infraštruktúr.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

</div> {# platinum row #}

<hr>

<div class="row" id="gold">
  <div class="col-md-12 text-center">
    <h2><mark class="gold">{{ _('Zlatí sponzori') }}</mark></h2>
  </div>
</div>

<div class="row">

  <div class="col-md-4 col-md-offset-2">
    <a href="https://www.python.org/psf/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/psf-logo.svg') }}" alt="Python Software Foundation" class="slogo img-responsive center-block" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>Python Software Foundation</h3>
          <p>www.python.org/psf</p>
          <p class="text-justify">{% trans %}Python Software Foundation je nezisková organizácia, ktorá sa aktívne venuje presadzovaniu a podpore programovacieho jazyka Python. PSF podporuje a povzbudzuje Python akcie po celom svete s poslaním rozširovania medzinárodného spoločenstva programátorov jazyka Python. PSF zároveň každoročne usporiadáva severoamerickú konferenciu PyCon.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="https://www.eset.com/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/eset-logo.svg') }}" alt="Eset" class="slogo img-responsive center-block" style="width: 65%"/>
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>Eset</h3>
          <p>www.eset.com</p>
          <p class="text-justify">{# {% trans %}Eset{% endtrans %} #}</p>
        </div>
      </div>
    </a>
  </div>


</div> {# gold row #}

<hr>

<div class="row" id="silver">
  <div class="col-md-12 text-center">
    <h2><mark class="silver">{{ _('Strieborní sponzori') }}</mark></h2>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <a href="https://www.gridmarkets.com/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/gridmarkets-logo.png') }}" alt="GridMarkets" class="slogo img-responsive center-block" style="width: 60%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>GridMarkets</h3>
          <p>www.gridmarkets.com</p>
          <p class="text-justify">{% trans %}GridMarkets je medzinárodný startup zameraný na "ekonomiku zdieľania", ktorý pôsobí v Singapure a Malajzii a operuje z niekoľkých medzinárodných pobočiek. Založili jedinečnú platformu, ktorá umožňuje pohodlné a cenovo výhodné zdieľanie prebytku cloudových výpočtových prostriedkov. Stlačením GridMarkets tlačidla môžu animátori, technici, vyskumníci a ďalší využiť výkon počítačov rozmiestnených po svete a pracovať tak na výpočtovo náročných úlohách.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="https://www.vnet.sk/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/vnet-logo.png') }}" alt="VNET" class="slogo img-responsive center-block" style="width: 60%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>VNET</h3>
          <p>www.vnet.sk</p>
          <p class="text-justify">{% trans %}Sme spoločnosť s bohatými skúsenosťami s poskytovaním komplexných telekomunikačných riešení, od garantovaného internetového pripojenia, cez cloudové služby, webhosting, až po hlasové riešenia. V špičkových technologických priestoroch našich  3 dátových centier sa tím VNET špecialistov stará o rast zákazníckych projektov počas celého ich životného cyklu.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="https://www.websupport.sk/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/websupport-logo.svg') }}" alt="WebSupport" class="slogo img-responsive center-block" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>WebSupport</h3>
          <p>www.websupport.sk</p>
          <p class="text-justify">{% trans %}Websupport{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

</div> {# silver row #}

<hr>

<div class="row" id="bronze">
  <div class="col-md-12 text-center">
    <h2><mark class="bronze">{{ _('Bronzoví sponzori') }}</mark></h2>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <a href="https://getfedora.org/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/fedora-logo.svg') }}" alt="Fedora" class="slogo img-responsive center-block" style="width: 30%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>Fedora</h3>
          <p>getfedora.org</p>
          <p class="text-justify">{% trans %}Projekt Fedora je spojenie nadšencov open source softvérovej komunity z rôznych kútov sveta. Tento projekt buduje komunity a vytvára linuxovú distribúciu Fedora.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="https://www.jetbrains.com/pycharm/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/pycharm-logo.svg') }}" alt="PyCharm" class="slogo img-responsive center-block" style="width: 30%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>JetBrains</h3>
          <p>www.jetbrains.com</p>
          <p class="text-justify">{% trans %}PyCharm 5 predstavuje vynikajúci vývojársky nástroj pre Python, web a vedeckých vývojarov. PyCharm ponúka jedinečný zážitok z programovania.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="http://www.it-academy.sk/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/it-academy-logo.png') }}" alt="IT Academy" class="slogo img-responsive center-block" style="width: 50%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>IT Academy</h3>
          <p>www.it-academy.sk</p>
          <p class="text-justify"></p>
        </div>
      </div>
    </a>
  </div>


</div> {# bronze row #}

<hr>

<div class="row" id="django-girls">
  <div class="col-md-12 text-center">
    <h2><mark class="django-girls">{{ _('Django Girls sponzori') }}</mark></h2>
  </div>
</div>

<div class="row">

  <div class="col-md-4 col-md-offset-2">
    <a href="https://www.python.org/psf/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/psf-logo.svg') }}" alt="Python Software Foundation" class="slogo img-responsive center-block" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>Python Software Foundation</h3>
          <p>www.python.org/psf</p>
          <p class="text-justify">{% trans %}Python Software Foundation je nezisková organizácia, ktorá sa aktívne venuje presadzovaniu a podpore programovacieho jazyka Python. PSF podporuje a povzbudzuje Python akcie po celom svete s poslaním rozširovania medzinárodného spoločenstva programátorov jazyka Python. PSF zároveň každoročne usporiadáva severoamerickú konferenciu PyCon.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="https://{{ lang_code}}.skypicker.com/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/sponsors/skypicker-logo.svg') }}" alt="Skypicker" class="slogo img-responsive center-block" style="width: 80%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>Skypicker</h3>
          <p>www.skypicker.com</p>
          <p class="text-justify">{{ _('Skypicker.com je inovatívny celosvetový vyhľadávač leteniek, ktorý sa zameriava na kombinácie nespolupracujúcich aerolinek, kde je schopný vďaka vlastnému vyspelému technickému riešeniu vyhľadávať unikátne letecké spojenia a cenové ponuky leteniek, ktoré následne predáva so zárukou na nadväzujúce lety.') }}</p>
        </div>
      </div>
    </a>
  </div>

</div> {# django-girls row #}

<hr>

<div class="row" id="main-media-partner">
  <div class="col-md-12 text-center">
    <h2><mark class="media-partners">{{ _('Hlavný mediálny partner') }}</mark></h2>
  </div>
</div>

<div class="row">

  <div class="col-md-4 col-md-offset-4">
    <a href="http://www.pcrevue.sk/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/partners/pc-revue.png') }}" alt="PC REVUE" class="slogo img-responsive center-block" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>PC REVUE</h3>
          <p>www.pcrevue.sk</p>
          <p class="text-justify"></p>
        </div>
      </div>
    </a>
  </div>

</div> {# media-partners row #}

<hr>

<div class="row" id="media-partners">
  <div class="col-md-12 text-center">
    <h2><mark class="media-partners">{{ _('Mediálni partneri') }}</mark></h2>
  </div>
</div>

<div class="row">

  <div class="col-md-4 col-md-offset-2">
    <a href="http://www.startitup.sk/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/partners/startitup.png') }}" alt="StartItUp" class="slogo img-responsive center-block" style="width: 45%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>StartItUp</h3>
          <p>www.startitup.sk</p>
          <p class="text-justify">{{ _('Startitup je najpopulárnejší a najprogresívnejšie rastúci tech/startup portál na Slovensku a v Čechách, ktorý informuje, inšpiruje a zabáva digitálnu generáciu. Startitup je považovaný za jedno z najkredibilnejších nezávislých médií na Slovensku.') }}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="http://robime.it/#pyconsk" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/partners/robime-it.svg') }}" alt="Robime.it" class="slogo img-responsive center-block" style="width: 80%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>robíme.it</h3>
          <p>www.robime.it</p>
          <p class="text-justify"></p>
        </div>
      </div>
    </a>
  </div>

</div> {# media-partners row #}

<hr>

<div class="row" id="partners">
  <div class="col-md-12 text-center">
    <h2><mark class="partners">{{ _('Partneri konferencie') }}</mark></h2>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <a href="http://www.fiit.stuba.sk/" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/partners/fiit-stu.svg') }}" alt="FIIT STU" class="slogo img-responsive center-block" style="width: 45%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>FIIT STU</h3>
          <p>fiit.stuba.sk</p>
          <p class="text-justify">{% trans %}Fakulta informatiky a informačných technológií (FIIT) je jednou zo siedmich fakúlt Slovenskej technickej univerzity v Bratislave (STU). FIIT STU pokrýva komplexne oblasť informatiky a informačných technológií (IIT) vo výskume a vzdelávaní. Je prvou fakultou na Slovensku s takýmto poslaním.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="http://www.ajtyvit.sk/" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/partners/ajtyvit.svg') }}" alt="Aj Ty v IT" class="slogo img-responsive center-block" style="width: 60%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>Aj Ty v IT</h3>
          <p>www.ajtyvit.sk</p>
          <p class="text-justify">{% trans %}Cieľom tohto portálu je informovať. Informuje dievčatá, ich rodičov, verejnosť o tom, že vo svete IT je skvelé mať ženy. Prináša profily informatičiek, ale i neinformatičiek, ktoré aj keď neabsolvovali štúdiu na IT vysokých školách, postupne sa vypracovali a teraz pôsobia na zaujímavých pozíciach v rôznych spoločnostiach.Prináša informácie o akciách pre dievčatá, kam sa môžu pridať.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="https://progressbar.sk/" target="_blank" class="sbox">
      <img src="{{ url_for('static', filename='images/partners/progressbar.png') }}" alt="Progressbar" class="slogo img-responsive center-block" style="width: 60%" />
      <div class="sbox-inner">
        <div class="sdesc">
          <h3>Progressbar</h3>
          <p>progressbar.sk</p>
          <p class="text-justify">{% trans %}Našim cieľom je poskytovať inovatívnu platformu pre stretávanie sa s ľuďmi a výmenu informácií pre tých, ktorí sa zaujímajú o hacking, 3D tlač, elektroniku, arduino, programovanie, Bitcoin, bezpečnosť, hackovanie života, cestovanie, hľadanie slobody a stretávanie podobne zmýšľajúcich ľudí.{% endtrans %}</p>
        </div>
      </div>
    </a>
  </div>

</div> {# partners row #}
{#
<hr>

<div class="row" id="supporters">
  <div class="col-md-12 text-center">
    <h3>{{ _('Podporovatelia konferencie') }}</h3>
  </div>
</div>

<div class="row">

  <div class="col-md-12 text-center">
    <p>Ivan Nudzik</p>
  </div>

</div>#} {# supporters row #}


</div> {# sponsors #}

{% endblock %}

