{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Prečo sa stať sponzorom?') }}</h1>

    <p class="lead">{{ _('Potrebujeme vás — PyCon SK 2016 v Bratislave, hľadá sponzorov a partnerov!') }}</p>

    <div class="image text-center">
      <img src="{{ url_for('static', filename='images/pycon/2013-03-pycon-by-eschipul-6150-203be.jpg') }}" alt="" class="img-responsive center-block">
      <p class="image-caption"><a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC</a> by <a href="https://www.tendenci.com/photos/1616/in/58/" target="_blank">Ed Schipul</a></p>
    </div>

    <p class="text-justify">
    {{ _('PyCon je každoročné stretnutie komunity ľudí, ktorí používajú alebo vyvíjajú open-source programovací jazyk Python.') }} {{ _('Konferencia je kompletne organizovaná dobrovoľníkmi.') }} 
    </p>

    <p class="text-justify">
    {{ _('Členovia Python komunity organizujú PyCon konferencie vo svojich domovských krajinách pravidelne, avšak na Slovensku nebol žiadny oficiálny PyCon doteraz zorganizovaný. Preto sme sa rozhodli to zmeniť.') }}
    </p>

    <p class="text-justify">
    {{ _('Aby sme mohli zabezpečiť kvalitných prednášajúcich a pritom udržať cenu vstupeniek dostupnú pre každého, potrebujeme vás, sponzorov, ktorí umožnia túto konferenciu uskutočniť.') }} 
    </p>

    <p class="text-justify">
    {{ _('Neváhajte nás kedykoľvek kontaktovať. Sme flexibilní a ochotní spolupracovať a navrhnúť s vami balíček sponzorstva, ktorý splní vaše obchodné potreby.') }} 
    </p>
    <p class="text-center"><strong><a href="mailto:sponsors@pycon.sk">sponsors@pycon.sk</a></strong></p>

    <div>
      <span class="glyphicon glyphicon-send pull-left icon-large" aria-hidden="true"></span>
      <h3>{{ _('Marketing') }}</h3>
      <p class="text-justify">
      {{ _('Hľadáte nových používateľov pre váš produkt? Takých ľudí nájdete na PyCone - oni tiež budú hľadať nové produkty a nápady.') }} 
      </p>
    </div>

    <div>
      <span class="glyphicon glyphicon-briefcase pull-left icon-large" aria-hidden="true"></span>
      <h3>{{ _('Nábor') }}</h3>
      <p class="text-justify">
      {{ _('Hľadáte programátorov? PyCon je to najlepšie miesto pre stretnutie nových talentov. Mnohí účastníci budú skúsení vývojári, ktorí hľadajú svoj ďalší veľký kariérny krok.') }} 
      </p>
    </div>

    <div>
      <span class="glyphicon glyphicon-bullhorn pull-left icon-large" aria-hidden="true"></span>
      <h3>{{ _('Publikum') }}</h3>
      <p class="text-justify">
      {{ _('Chcete dostať svoje posolstvo medzi ľudí, aby sa o vás hovorilo? PyCon je na to skvelá príležitosť. Ľudia v Python komunite radi objavujú a zdieľajú nové veci.') }}
      </p>
    </div>

    <div>
      <span class="glyphicon glyphicon-grain pull-left icon-large" aria-hidden="true"></span>
      <h3>{{ _('Komunita') }}</h3>
      <p class="text-justify">
      {{ _('Hľadáte nových prispievateľov a partnerov pre váš open source projekt? PyCon je miesto, kde aj oni budú hľadať vás.') }}
      </p>
    </div>

    <div>
      <span class="glyphicon glyphicon-heart-empty pull-left icon-large" aria-hidden="true"></span>
      <h3>{{ _('Podpora') }}</h3>
      <p class="text-justify">
      {{ _('Používate vo vašej firme Python? Podpora komunitných udalostí je výborná príležitosť ako prispieť späť.') }}
      </p>
    </div>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
