{% extends "body.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12"><h1>{{ _('SPy o. z.') }}</h1></div>

  <div class="col-md-8">
    <p class="text-justify">{{ _('Poslaním občianskeho združenia SPy je podpora vývojárov a používateľov programovacieho jazyka Python. Podporujeme a šírime používanie programovacieho jazyka Python a iných open source technológii a open source myšlienok v našej spoločnosti. Našim cieľom je poskytovať pomoc a podporu úplným začiatočníkom a ľuďom, ktorí s programovaním začínajú. Ďalej si dávame za cieľ spolupracovať so školami a inými vzdelávacími inštitúciami a propagovať programovanie (nezávislé od programovacieho jazyka) u detí a mladých ľudí od čo najskoršieho možného veku. Podporujeme oblasť softvérového vývoja u sociálne slabších alebo inak znevýhodnených sociálnych skupín. Venujeme sa praktickému využitiu softvérového vývoja. Chceme spolupracovať na rôznych open source projektoch, vytvárať otvorený vzdelávací obsah použiteľný pri školskej výuke či samoštúdiu a zasadzovať sa o používanie otvorených technológii v spoločnosti a verejnom sektore.') }}</p>
    <p>{{ _('Zakladajúci členovia:') }}</p>
    <ul class="list-unstyled">
      <li><a href="https://sk.linkedin.com/in/richardkellner" target="_blank" title="{{ _('Profil %(user)s na Linkedine', user='Richard Kellner') }}">Richard Kellner</a> {{ _('(predseda)') }}</li>
      <li><a href="https://sk.linkedin.com/in/danielkontsek" target="_blank" title="{{ _('Profil %(user)s na Linkedine', user='Daniel Kontšek') }}">Daniel Kontšek</a></li>
      <li><a href="https://sk.linkedin.com/in/jangondol" target="_blank" title="{{ _('Profil %(user)s na Linkedine', user='Jan Gondol') }}">Ján Gondol</a></li>
    </ul>
  </div>

  <div class="col-md-4"> <!-- right_nav -->
    <ul class="list-unstyled">
      <li><b>{{ _('Kontakt') }}</b>: <a href="mailto:info@pycon.sk">info@pycon.sk</a></li>
      <li><b>{{ _('Registrované na MVSR') }}</b>: 26.8.2015</li>
      <li><b>{{ _('Číslo spisu') }}</b>: VVS/1-900/90-466 95</li>
      <li><b>{{ _('IČO') }}</b>: 48412627</li>
      <li><b>{{ _('Adresa') }}</b>: Sibírska 1599/21,<br />83102 Bratislava-Nové Mesto,<br />{{ _('Slovenská Republika') }}</li>
      <li><b>{{ _('Názov účtu') }}</b>: SPy</li>
      <li><b>{{ _('Názov banky') }}</b>: Fio banka, a. s., pobočka zahraničnej banky</li>
      <li><b>{{ _('Číslo účtu EUR (SK)') }}</b>: 2300870269/8330</li>
      <li><b>{{ _('Číslo účtu EUR (CZ)') }}</b>: 2300870269/2010</li>
      <li><b>{{ _('Číslo účtu EUR (IBAN / medzinárodné)') }}</b>: SK48 8330 0000 0023 0087 0269</li>
      <li><b>{{ _('SWIFT/BIC') }}</b>: FIOZSKBAXXX</li>
      <li><b>{{ _('Stanovy') }}</b>: <a href="{{ url_for('static', filename='SPy_stanovy.pdf') }}">PDF <span class="glyphicon glyphicon-download-alt"></span></a></li>
    </ul>
    {#
    <hr>
    <p>{{ _('Ak sa chceš stať našim členom, vyplň nasledujúci formulár:') }}</p>

    <form accept-charset="UTF-8" action="https://lists.pycon.sk/spy-subscribe" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="new_member_name" id="new_member_name" placeholder="{{ _('Tvoje meno') }}">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="new_member_email" id="new_member_email" placeholder="{{ _('Tvoj e-mail') }}">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="3" name="new_member_about" placeholder="{{ _('Niečo o tebe') }}"></textarea>
      </div>
      <div class="form-group">
        <small>{{ _('Odoslané údaje sa nikde nezverejňujú.') }}</small>
        <br />
        <button type="submit" class="btn btn-primary">{{ _('Odoslať registráciu') }}</button>
      </div>
    </form>
    #}
  </div> <!-- right_nav end -->

</div>
{% endblock %}
