{% extends "body.html" %}
{% block content %}

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8">
        <div class="bs-component">
          <h1>Ďakujeme za záujem</h1>
          <p>Tvoja požiadavka bola zaznamenaná a čoskoro sa ozveme...</p>
          <p>Medzi časom sa môžeš prihlásiť do <a href="https://lists.pycon.sk/listinfo">e-mailove konferencie</a> a dať nám o sebe vedieť.</p>
        </div>
      </div>
      <div class="col-lg-4">
        {% include 'right_nav.html' %}
      </div>
    </div>
  </div>

{% endblock %}
