{% extends "body.html" %}

{% block header%}
<link rel="stylesheet" type="text/css" href='https://css.tito.io/v1' />
<script src='https://js.tito.io/v1' async></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ _('Vstupenky') }}</h1>
    <p class="lead">{{ _('Vstupenky sú momentálne vypredané.') }} {{ _('Pracujeme na tom, aby sme mohli dať ešte niekoľko vstupeniek do predaja.') }}</p>

    <p class="text-justify">
    <tito-widget event="pyconsk/2016"></tito-widget>
    {{ _('Vstupenky si taktiež môžete kúpiť priamo na internetovej stránke %(tito_link)s v prípade, že sa Vám Tito widget nezobrazuje správne.', tito_link='<a href="https://ti.to/pyconsk/2016">https://ti.to/pyconsk/2016</a>'|safe) }}
    </p>
    <p class="text-justify">{{ _('Kúpou lístka vyjadrujete súhlas s dodržiavaním kódexu správania.') }}</p>

    <h3>{{ _('Kde sa uskutoční konferencia?') }}</h3>
    <p class="text-justify">
    {{ _('Slovenská technická univerzita v Bratislave') }}<br />
    {{ _('Fakulta informatiky a informačných technológií') }}<br />  
    Ilkovičova 2<br />
    842 16 Bratislava 4
    </p>
    <p class="text-justify">
    <a href="http://www.fiit.stuba.sk/generate_page.php?page_id=1653" title="{{ _('Ako sa dostať na FIIT STU') }}" target="_blank">{{ _('Ako sa tam dostať') }}</a>
    </p>

    <h3>{{ _('Aký lístok si mám kúpiť?') }}</h3>
    <p class="text-justify">
      <strong>{{ _('Supporter') }}</strong>: {{ _('Lístok je určený pre účastníkov, ktorí chcú aby ich meno (firma) bolo zverejnené v zozname podporovateľov na našom webe.') }}<br />
      <strong>{{ _('Standard') }}</strong>: {{ _('Lístok je určený pre všetkých účastníkov konferencie.') }}<br />
      <strong>{{ _('Student') }}</strong>: {{ _('Lístok je určený pre študentov. Nezabudnite si so sebou na registráciu priniesť platný študentský preukaz (ISIC).') }}<br />
    </p>

    <h3>{{ _('Je aj iná možnosť ako sa dostať na PyCon?') }}</h3>
    <p class="text-justify">
      {{ _('Spustili sme štipendijný program, ktorý umožní niektorým návštevníkom prísť na PyCon zadarmo. Napíšte nám, prečo by sme práve Vám mali dať vstupenku.') }}<br />
      {{ _('Ak máte menej ako 18 rokov a prídete v sprievode rodiča, stačí ak si lístok zakúpi iba rodič, no musíte sa nám ozvať aby sme vystavili vstupenku aj pre dieťa.') }}<br />
      {{ _('Pre sociálne znevýhodnených účastníkov máme pripravený grantový program. Napíšte nám ak máte záujem sa ho zúčastniť.') }}
    </p>

    <h3>{{ _('Čo všetko mám v lístku?') }}</h3>
    <p class="text-justify">
      <ul>
        <li>{{ _('Dva dni prednášok.') }}</li>
        <li>{{ _('Obed počas oboch dní konferencie.') }}</li>
        <li>{{ _('Kávu a koláčik počas prestávok.') }}</li>
        <li>{{ _('Tričko a tašku plnú prekvapení.') }}</li>
        <li>{{ _('Pozvánka na piatkovú neformálnu party.') }}</li> 
      </ul>
    </p>

    <h3>{{ _('Aký bude program konferencie?') }}</h3>
    <p class="text-justify">
      <ul>
        <li>{{ _('Piatok') }} - {{ _('prednášky v slovenčine, resp. češtine') }}.</li>
        <li>{{ _('Sobota') }} - {{ _('prednášky v angličtine') }}.</li>
        <li>{{ _('Nedeľa') }} - {{ _('<a href="%(url)s">Django Girls</a> workshop (samostatná registrácia, PyCon SK lístok nie je potrebný)', url=url_for('django_girls', lang_code=lang_code)) }}.</li>
      </ul>
      {{ _('Podrobný program konferencie zverejníme už čoskoro.') }}
    </p>

    <h3>{{ _('Ponúkate množstevné zľavy?') }}</h3>
    <p class="text-justify">
      {{ _('Ak máte záujem kúpiť viac ako 10 lístkov kontaktujete nás emailom na info@pycon.sk.') }}
    </p>

    <h3>{{ _('Nemám PayPal, je možné kúpiť vstupenku inak ako cez Tito?') }}</h3>
    <p class="text-justify">
      {{ _('Akceptujeme aj bankový prevod, prípadne Bitcoin. Napíšte nám, o aké lístky máte záujem, zašleme Vám variabilný symbol a po pripísaní sumy na náš účet Vám vystavíme a pošleme emailom vstupenku.') }}<br />
      {{ _('Bankové spojenie nájdete na stránkach') }} <a href="{{ url_for('spy', lang_code=lang_code) }}" title="{{ _('SPy o.z.') }}">{{ _('našeho občianského združenia') }}</a>.
    </p> 

    <h3>{{ _('Kam idú všetky peniaze za lístky?') }}</h3>
    <p class="text-justify">
    {{ _('PyCon je kompletne organizovaný dobrovoľníkmi. Veríme, že organizovať takéto konferencie je potrebné, aby propagovali programovanie a Open Source. Všetky peniaze vyzbierané z predaja lístkov pôjdu na náklady spojené s organizáciou PyConu. Občianske združenie SPy, sa ako organizátor, zaväzuje po ukončení konferencie transparentne zverejniť všetky náklady s ňou spojené. SPy vzniklo na podporu Pythonu a programovania všeobecne, prečítajte si') }} <a href="{{ url_for('spy', lang_code=lang_code) }}" title="{{ _('ciele SPy o.z.') }}">{{ _('viac o našich cieľoch') }}</a>.
    </p>
  </div>

  <div class="col-md-4">
    {% include 'right_nav.html' %}
  </div>
</div>
{% endblock %}
