body {
  padding-top: 70px;
}

.navbar {
  min-height: 60px;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-logo {
  height: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.right-nav h4 {
  font-size: 15px;
}

.right-nav h5 {
  font-size: 14px;
}

.right-nav h6 {
  font-size: 12px;
}

mark.partners {
  background-color: #ADD8E6;
}
mark.django-girls {
  background-color: #346854;
  color: #ffffff;
}

mark.bronze {
  background-color: #CD7F32;
}

mark.silver {
  background-color: #C0C0C0;
}

mark.gold {
  background-color: #FCF8E3;
}

mark.platinum {
  background-color: #E5E4E2;
}

.sponsors h2 {
  margin-bottom: 20px;
}

.sponsors h2:not(:first-child) {
  margin-top: 40px;
}

.sbox {
  display: block;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border 0.2s ease-in-out 0s;
  height: 320px;
}

.sbox-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 1px;
  margin-top: 1px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #999;
  border-radius: 4px;
  z-index: 1;
  display: none;
}

a.sbox:hover > .sbox-inner {
  display: block;
}

.sdesc {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
  padding: 6px;
}

.sdesc .text-justify {
  font-size: 12px;
}

.slogo {
  display: block;
  position: absolute;
  z-index: 0;
  width: 80%; /* set this individually for every image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.right-nav img {
  border: none;
}

footer {
  margin: 5em 0;
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.icon-large {
  font-size: 48px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.tito-ticket-description {
  font-size: 1.1rem;
}

.image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-caption {
  padding-top: 2px;
  margin: 0;
  color: #999;
  font-size: 11px;
}

