body {
  padding-top: 70px;
}

.navbar {
  min-height: 60px;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-logo {
  height: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
}

mark.gold {
  background-color: #FCF8E3;
}

mark.platinum {
  background-color: #E5E4E2;
}

.right-nav img {
  border: none;
}

footer {
  margin: 5em 0;
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.icon-large {
  font-size: 48px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.tito-ticket-description {
  font-size: 1.1rem;
}

.image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-caption {
  padding-top: 2px;
  margin: 0;
  color: #999;
  font-size: 11px;
}
